# LAB 04 Data Preprocessing (2)

## 2. í–‰ ê¸°ì¤€ ë³‘í•©

### ë¼ì´ë¸ŒëŸ¬ë¦¬ ì°¸ì¡°

In [1]:
from pandas import DataFrame, concat

In [7]:
df1 = DataFrame({'ì´ë¦„':['ì˜í¬','ì² ìˆ˜'],'êµ­ì–´':[97,91]})
df1

   ì´ë¦„  êµ­ì–´
0  ì˜í¬  97
1  ì² ìˆ˜  91

In [8]:
df2 = DataFrame({'ì´ë¦„':['ë¯¼ì² ','ìˆ˜í˜„'],'êµ­ì–´':[78,92]})
df2

   ì´ë¦„  êµ­ì–´
0  ë¯¼ì²   78
1  ìˆ˜í˜„  92

In [4]:
#### 1. ë³‘í•©í•˜ê¸°

In [9]:
concat([df1,df2])

   ì´ë¦„  êµ­ì–´
0  ì˜í¬  97
1  ì² ìˆ˜  91
0  ë¯¼ì²   78
1  ìˆ˜í˜„  92

In [10]:
#### 2. ë³‘í•© ê²°ê³¼ì—ì„œ indexë¥¼ ì¬êµ¬ì„±í•˜ê¸°

In [11]:
ì¬êµ¬ì„± = concat([df1,df2])
ì¬êµ¬ì„±.reset_index(inplace=True,drop=True)
ì¬êµ¬ì„±

   ì´ë¦„  êµ­ì–´
0  ì˜í¬  97
1  ì² ìˆ˜  91
2  ë¯¼ì²   78
3  ìˆ˜í˜„  92

In [12]:
#### 2. ë³‘í•© ê²°ê³¼ì—ì„œ indexë¥¼ ì¬êµ¬ì„±í•˜ê¸°

In [13]:
concat([df1,df2],ignore_index=True)

   ì´ë¦„  êµ­ì–´
0  ì˜í¬  97
1  ì² ìˆ˜  91
2  ë¯¼ì²   78
3  ìˆ˜í˜„  92

In [16]:
df3 = DataFrame({'ì´ë¦„':['ì˜í¬','ì² ìˆ˜'],'êµ­ì–´':[97,91]})
df3

   ì´ë¦„  êµ­ì–´
0  ì˜í¬  97
1  ì² ìˆ˜  91

In [17]:
df4 = DataFrame({'ì´ë¦„':['ë¯¼ì² ','ìˆ˜í˜„'],'ìˆ˜í•™':[78,92]})
df4

   ì´ë¦„  ìˆ˜í•™
0  ë¯¼ì²   78
1  ìˆ˜í˜„  92

In [18]:
#### ë°ì´í„° ë³‘í•© ì¼ì¹˜í•˜ì§€ ì•ŠëŠ” ë¶€ë¶„ì— ëŒ€í•´ì„œëŠ” ğ‘ğ‘ğ‘ìœ¼ë¡œ ì²˜ë¦¬í•œë‹¤

In [19]:
concat([df3,df4],ignore_index=True)

   ì´ë¦„    êµ­ì–´    ìˆ˜í•™
0  ì˜í¬  97.0   NaN
1  ì² ìˆ˜  91.0   NaN
2  ë¯¼ì²    NaN  78.0
3  ìˆ˜í˜„   NaN  92.0

In [22]:
df5 = DataFrame({'êµ­ì–´':[87,12,14]},index = ['ë¯¼ì² ','ì² ìˆ˜','ë¯¼ìˆ˜'])
df5

    êµ­ì–´
ë¯¼ì²   87
ì² ìˆ˜  12
ë¯¼ìˆ˜  14

In [23]:
df6 = DataFrame({'êµ­ì–´':[37,42,54]},index = ['ë¯¼ì² ','ìˆ˜í˜„','ë¯¼ìˆ˜'])
df6

    êµ­ì–´
ë¯¼ì²   37
ìˆ˜í˜„  42
ë¯¼ìˆ˜  54

In [ ]:
#### ë°ì´í„° ë³‘í•© ì¸ë±ìŠ¤ë„ í•¨ê»˜ ë³‘í•©ëœë‹¤. ê° ë°ì´í„° í”„ë ˆì„ê°„ì— ì¤‘ë³µë˜ëŠ” ì¸ë±ìŠ¤ê°€ ì¡´ì¬í•  ê²½ìš° ê° í–‰ì€ ê°œë³„ì ìœ¼ë¡œ ì¡´ì¬í•œë‹¤. (ì¸ë±ìŠ¤ ì¤‘ë³µ)

In [25]:
concat([df5,df6])

    êµ­ì–´
ë¯¼ì²   87
ì² ìˆ˜  12
ë¯¼ìˆ˜  14
ë¯¼ì²   37
ìˆ˜í˜„  42
ë¯¼ìˆ˜  54

In [26]:
concat([df5,df6],ignore_index = True)

   êµ­ì–´
0  87
1  12
2  14
3  37
4  42
5  54