# LAB 02 - Pandas

## #4. ë°ì´í„° í™•ì¸í•˜ê¸°

### ë¼ì´ë¸ŒëŸ¬ë¦¬ ì°¸ì¡°

In [2]:
from hossam import load_data

### ë°ì´í„°ê°€ì ¸ì˜¤ê¸°

#### ê°€ìƒì˜ ê³¼ëª©ë³„ ì ìˆ˜ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [5]:
origin = load_data('GRADE')
origin

[data] https://data.hossam.kr/data/grade.xlsx
[desc] ì–´ëŠ í•™ê¸‰ì˜ ê³¼ëª©ë³„ ì ìˆ˜ë¥¼ ì¡°ì‚¬í•œ ê°€ìƒì˜ ë°ì´í„°

field    description
-------  -------------
ì´ë¦„     index
í•™ë…„     int
ì„±ë³„     str
êµ­ì–´     int
ì˜ì–´     int
ìˆ˜í•™     int
ê³¼í•™     int

    í•™ë…„  ì„±ë³„  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  98   77  88  64
ì˜í¬   2  ì—¬ì  88  120  62  72
ë¯¼ì²    1  ë‚¨ì  92   70  83  79
ìˆ˜í˜„   3  ì—¬ì  63   60  31  71
í˜¸ì˜   4  ë‚¨ì  75   50  90  88
ì˜í˜¸   4  ë‚¨ì  80   88  91  72
ìš©ì‹   2  ë‚¨ì  82   88  79  90
ë‚˜ì˜   1  ì—¬ì  90   92  81  95
ì„ì˜   1  ë‚¨ì  91   90  89  80

### ë°ì´í„°êµ¬ì¡°í™•ì¸(1)

#### ë°ì´í„°ì˜ ì°¨ì›ê³¼ í¬ê¸°

In [7]:
print('ì°¨ì›:',origin.ndim)
print('í¬ê¸°:',origin.shape)

ì°¨ì›: 2
í¬ê¸°: (9, 6)

#### ê° í•„ë“œë³„ ë°ì´í„° íƒ€ì…

In [9]:
origin.dtypes

í•™ë…„     int64
ì„±ë³„    object
êµ­ì–´     int64
ì˜ì–´     int64
ìˆ˜í•™     int64
ê³¼í•™     int64
dtype: object

#### ê° í•„ë“œë³„ ì •ë³´ í™•ì¸

In [11]:
origin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, ì² ìˆ˜ to ì„ì˜
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   í•™ë…„      9 non-null      int64
 1   ì„±ë³„      9 non-null      object
 2   êµ­ì–´      9 non-null      int64
 3   ì˜ì–´      9 non-null      int64
 4   ìˆ˜í•™      9 non-null      int64
 5   ê³¼í•™      9 non-null      int64
dtypes: int64(5), object(1)
memory usage: 504.0+ bytes

#### íŠ¹ì • "ì—´"ì˜ ë°ì´í„° í™•ì¸

In [13]:
origin['êµ­ì–´']

ì´ë¦„
ì² ìˆ˜    98
ì˜í¬    88
ë¯¼ì²     92
ìˆ˜í˜„    63
í˜¸ì˜    75
ì˜í˜¸    80
ìš©ì‹    82
ë‚˜ì˜    90
ì„ì˜    91
Name: êµ­ì–´, dtype: int64

#### íŠ¹ì • "ì—´"ì˜ íƒ€ì… í™•ì¸ Ã  ğ‘†ğ‘’ğ‘Ÿğ‘–ğ‘’ï¿½

In [15]:
type(origin['êµ­ì–´'])

pandas.core.series.Series

#### ì›í•˜ëŠ” ì—´ë§Œ ì¶”ì¶œí•˜ê¸°

In [17]:
df2 = origin[['êµ­ì–´','ì˜ì–´','ìˆ˜í•™']]
df2

    êµ­ì–´   ì˜ì–´  ìˆ˜í•™
ì´ë¦„
ì² ìˆ˜  98   77  88
ì˜í¬  88  120  62
ë¯¼ì²   92   70  83
ìˆ˜í˜„  63   60  31
í˜¸ì˜  75   50  90
ì˜í˜¸  80   88  91
ìš©ì‹  82   88  79
ë‚˜ì˜  90   92  81
ì„ì˜  91   90  89

### íŠ¹ì •í–‰ì ‘ê·¼
#### ì¸ë±ìŠ¤ ì´ë¦„ìœ¼ë¡œ ì ‘ê·¼í•˜ê¸°

In [19]:
origin.loc['ì² ìˆ˜']

í•™ë…„     1
ì„±ë³„    ë‚¨ì
êµ­ì–´    98
ì˜ì–´    77
ìˆ˜í•™    88
ê³¼í•™    64
Name: ì² ìˆ˜, dtype: object

#### íŠ¹ì • í–‰ì˜ ë°ì´í„° íƒ€ì… í™•ì¸

type(origin.loc['ì² ìˆ˜'])

#ë°ì´í„°í”„ë ˆì„ì€ ê°€ë¡œ(í–‰)ê³¼ ì„¸ë¡œ(ì—´)ì´
#ëª¨ë‘ Seriesíƒ€ì…ìœ¼ë¡œ êµ¬ì„±ëœ ê°ì²´ì´ë‹¤.
#ê·¸ëŸ¬ë¯€ë¡œ í–‰, ì—´ì´ ëª¨ë‘ Series ê°ì²´ì˜
#ëª¨ë“  ë©”ì„œë“œë¥¼ í¬í•¨í•˜ê³  ìˆë‹¤.

#### ì¸ë±ìŠ¤ ë²ˆí˜¸ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ì ‘ê·¼

In [26]:
origin.iloc[0]

í•™ë…„     1
ì„±ë³„    ë‚¨ì
êµ­ì–´    98
ì˜ì–´    77
ìˆ˜í•™    88
ê³¼í•™    64
Name: ì² ìˆ˜, dtype: object

#### ì¸ë±ìŠ¤ ë²ˆí˜¸ë¡œ ì ‘ê·¼í•  ê²½ìš° ìŠ¬ë¼ì´ì‹± ê°€ëŠ¥

In [28]:
origin.iloc[1:4]

    í•™ë…„  ì„±ë³„  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™
ì´ë¦„
ì˜í¬   2  ì—¬ì  88  120  62  72
ë¯¼ì²    1  ë‚¨ì  92   70  83  79
ìˆ˜í˜„   3  ì—¬ì  63   60  31  71

### ë‹¨ì¼ê°’í™•ì¸í•˜ê¸°

#### ì—´ -> í–‰ ìˆœì„œë¡œ ì ‘ê·¼ í–‰ -> ì—´ ìˆœì„œë¡œ ì ‘ê·¼

In [31]:
origin['êµ­ì–´']['ì² ìˆ˜']

np.int64(98)

In [33]:
origin.loc['ì² ìˆ˜','êµ­ì–´']

np.int64(98)

#### ì¸ë±ìŠ¤ ë²ˆí˜¸ ê¸°ë°˜ ë°ì´í„° ì ‘ê·¼

In [35]:
origin.iloc[1,2]

np.int64(88)

In [38]:
origin.iloc[:,3]

ì´ë¦„
ì² ìˆ˜     77
ì˜í¬    120
ë¯¼ì²      70
ìˆ˜í˜„     60
í˜¸ì˜     50
ì˜í˜¸     88
ìš©ì‹     88
ë‚˜ì˜     92
ì„ì˜     90
Name: ì˜ì–´, dtype: int64

### ê°’ì˜ë³€ê²½
#### í–‰ -> ì—´ ìˆœìœ¼ë¡œ ì ‘ê·¼í•˜ëŠ” ê²½ìš°ë§Œ ë³€ê²½ ê°€ëŠ¥í•¨

In [40]:
origin.loc['ì² ìˆ˜','êµ­ì–´'] = 100
origin

    í•™ë…„  ì„±ë³„   êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  100   77  88  64
ì˜í¬   2  ì—¬ì   88  120  62  72
ë¯¼ì²    1  ë‚¨ì   92   70  83  79
ìˆ˜í˜„   3  ì—¬ì   63   60  31  71
í˜¸ì˜   4  ë‚¨ì   75   50  90  88
ì˜í˜¸   4  ë‚¨ì   80   88  91  72
ìš©ì‹   2  ë‚¨ì   82   88  79  90
ë‚˜ì˜   1  ì—¬ì   90   92  81  95
ì„ì˜   1  ë‚¨ì   91   90  89  80

#### ë°ì´í„° ì¼ë¶€ë§Œ í™•ì¸

#### ìƒìœ„ nê±´ í™•ì¸

In [43]:
origin.head(2)

    í•™ë…„  ì„±ë³„   êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  100   77  88  64
ì˜í¬   2  ì—¬ì   88  120  62  72

#### í•˜ìœ„ Nê±´ í™•ì¸

In [45]:
origin.tail(2)

    í•™ë…„  ì„±ë³„  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™
ì´ë¦„
ë‚˜ì˜   1  ì—¬ì  90  92  81  95
ì„ì˜   1  ë‚¨ì  91  90  89  80

ì‹¤ì œë¡œ ë‹¤ë£¨ê²Œ ë˜ëŠ” ë°ì´í„° í”„ë ˆì„ì€ ìˆ˜ì‹­ë§Œê°œì˜ í–‰ì„ ê°–ê³  ìˆì„ ìˆ˜ ìˆë‹¤.
ì´ ê²½ìš° í•œë²ˆì— ì¶œë ¥í•  ìˆ˜ ì—†ê¸° ë•Œë¬¸ì— ë°ì´í„°ì˜ ì¼ë¶€ë§Œ ì¶œë ¥í•˜ì—¬
ë°ì´í„°ì˜ í˜•íƒœë¥¼ ê°€ëŠ í•´ì•¼ í•œë‹¤.

#### ê¸°ì´ˆí†µê³„ëŸ‰ í™•ì¸

In [47]:
print("í•©ê³„:", origin['êµ­ì–´'].sum())

print("í‰ê· :", origin['êµ­ì–´'].mean())

print("ìµœëŒ€:", origin['êµ­ì–´'].max())

print("ìµœì†Œ:", origin['êµ­ì–´'].min())

print("ë¶„ì‚°:", origin['êµ­ì–´'].var())

print("í‘œì¤€í¸ì°¨:", origin['êµ­ì–´'].std())

print("ì¤‘ì•™ê°’:", origin['êµ­ì–´'].median())

print("1ì‚¬ë¶„ìœ„ ìˆ˜:", origin['êµ­ì–´'].quantile(0.25))
print("2ì‚¬ë¶„ìœ„ ìˆ˜:", origin['êµ­ì–´'].quantile(0.5))

print("3ì‚¬ë¶„ìœ„ ìˆ˜:", origin['êµ­ì–´'].quantile(0.75))

í•©ê³„: 761
í‰ê· : 84.55555555555556
ìµœëŒ€: 100
ìµœì†Œ: 63
ë¶„ì‚°: 120.02777777777779
í‘œì¤€í¸ì°¨: 10.955718953029864
ì¤‘ì•™ê°’: 88.0
1ì‚¬ë¶„ìœ„ ìˆ˜: 80.0
2ì‚¬ë¶„ìœ„ ìˆ˜: 88.0
3ì‚¬ë¶„ìœ„ ìˆ˜: 91.0

In [48]:
origin.sum()

í•™ë…„                    19
ì„±ë³„    ë‚¨ìì—¬ìë‚¨ìì—¬ìë‚¨ìë‚¨ìë‚¨ìì—¬ìë‚¨ì
êµ­ì–´                   761
ì˜ì–´                   735
ìˆ˜í•™                   694
ê³¼í•™                   711
dtype: object

In [50]:
origin['êµ­ì–´'].describe()

count      9.000000
mean      84.555556
std       10.955719
min       63.000000
25%       80.000000
50%       88.000000
75%       91.000000
max      100.000000
Name: êµ­ì–´, dtype: float64

#### DataFrame ë‹¨ìœ„ë¡œ ì¼ê´„ ì‚°ì¶œ

In [53]:
df2 = origin[['êµ­ì–´','ì˜ì–´','ìˆ˜í•™','ê³¼í•™']]
desc = df2.describe()
desc

               êµ­ì–´          ì˜ì–´         ìˆ˜í•™         ê³¼í•™
count    9.000000    9.000000   9.000000   9.000000
mean    84.555556   81.666667  77.111111  79.000000
std     10.955719   20.481699  19.451507  10.283482
min     63.000000   50.000000  31.000000  64.000000
25%     80.000000   70.000000  79.000000  72.000000
50%     88.000000   88.000000  83.000000  79.000000
75%     91.000000   90.000000  89.000000  88.000000
max    100.000000  120.000000  91.000000  95.000000

####  ì „ì¹˜ êµ¬í•˜ê¸°

In [55]:
t = desc.T
t

    count       mean        std   min   25%   50%   75%    max
êµ­ì–´    9.0  84.555556  10.955719  63.0  80.0  88.0  91.0  100.0
ì˜ì–´    9.0  81.666667  20.481699  50.0  70.0  88.0  90.0  120.0
ìˆ˜í•™    9.0  77.111111  19.451507  31.0  79.0  83.0  89.0   91.0
ê³¼í•™    9.0  79.000000  10.283482  64.0  72.0  79.0  88.0   95.0

#### ë¹ˆë„ìˆ˜ êµ¬í•˜ê¸° -> ê°’ì˜ ì¢…ë¥˜ë³„ ìˆ˜

In [57]:
origin['ì„±ë³„'].value_counts()

ì„±ë³„
ë‚¨ì    6
ì—¬ì    3
Name: count, dtype: int64

In [59]:
origin['í•™ë…„'].value_counts()

í•™ë…„
1    4
2    2
4    2
3    1
Name: count, dtype: int64