# LAB 03 Data Preprocessing (1)

## #1. ë°ì´í„° êµ¬ì¡° ì ê²€

### ë¼ì´ë¸ŒëŸ¬ë¦¬ ì°¸ì¡°

In [1]:
from hossam import load_data
from pandas import CategoricalDtype

In [2]:
origin = load_data("grade")
origin

[data] https://data.hossam.kr/data/common/grade.xlsx
[desc] ì–´ëŠ í•™ê¸‰ì˜ ê³¼ëª©ë³„ ì ìˆ˜ë¥¼ ì¡°ì‚¬í•œ ê°€ìƒì˜ ë°ì´í„°

field    description
-------  -------------
ì´ë¦„     index
í•™ë…„     int
ì„±ë³„     str
êµ­ì–´     int
ì˜ì–´     int
ìˆ˜í•™     int
ê³¼í•™     int

    í•™ë…„  ì„±ë³„  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  98   77  88  64
ì˜í¬   2  ì—¬ì  88  120  62  72
ë¯¼ì²    1  ë‚¨ì  92   70  83  79
ìˆ˜í˜„   3  ì—¬ì  63   60  31  71
í˜¸ì˜   4  ë‚¨ì  75   50  90  88
ì˜í˜¸   4  ë‚¨ì  80   88  91  72
ìš©ì‹   2  ë‚¨ì  82   88  79  90
ë‚˜ì˜   1  ì—¬ì  90   92  81  95
ì„ì˜   1  ë‚¨ì  91   90  89  80

### ë°ì´í„° í™•ì¸í•˜ê¸°

#### ë°ì´í„° í¬ê¸°

In [3]:
rows, cols = origin.shape
print("%dí–‰, %dì—´ì˜ %dì°¨ì› ë°ì´í„°"%(rows,cols,origin.ndim))

9í–‰, 6ì—´ì˜ 2ì°¨ì› ë°ì´í„°

#### ê° ë³€ìˆ˜ì˜ ë°ì´í„° íƒ€ì… í™•ì¸

In [4]:
origin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, ì² ìˆ˜ to ì„ì˜
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   í•™ë…„      9 non-null      int64
 1   ì„±ë³„      9 non-null      object
 2   êµ­ì–´      9 non-null      int64
 3   ì˜ì–´      9 non-null      int64
 4   ìˆ˜í•™      9 non-null      int64
 5   ê³¼í•™      9 non-null      int64
dtypes: int64(5), object(1)
memory usage: 504.0+ bytes

#### ì»¬ëŸ¼ ë‹¨ìœ„ ë³€ê²½

In [5]:
ì»¬ëŸ¼ë‹¨ìœ„ë³€ê²½df = origin.copy()
ì»¬ëŸ¼ë‹¨ìœ„ë³€ê²½df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, ì² ìˆ˜ to ì„ì˜
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   í•™ë…„      9 non-null      int64
 1   ì„±ë³„      9 non-null      object
 2   êµ­ì–´      9 non-null      int64
 3   ì˜ì–´      9 non-null      int64
 4   ìˆ˜í•™      9 non-null      int64
 5   ê³¼í•™      9 non-null      int64
dtypes: int64(5), object(1)
memory usage: 504.0+ bytes

#### ì»¬ëŸ¼ ë‹¨ìœ„ ë³€ê²½

ì»¬ëŸ¼ ë‹¨ìœ„ì˜ ë°ì´í„° íƒ€ì… ë³€ê²½
o í•˜ë‚˜ì˜ ì»¬ëŸ¼ì€ ì‹œë¦¬ì¦ˆ ê°œì²´ì´ë¯€ë¡œ ğ‘ğ‘ ğ‘¡ğ‘¦ğ‘ğ‘’() í•¨ìˆ˜ë¡œ íƒ€ì… ë³€ê²½ ê°€ëŠ¥.
o ë³€ê²½ëœ ê²°ê³¼ëŠ” ë‹¤ì‹œ ì›ë˜ì˜ ì»¬ëŸ¼ì— ì €ì¥í•´ì•¼ DataFrameì— ë°˜ì˜ëœë‹¤.

In [6]:
ì»¬ëŸ¼ë‹¨ìœ„ë³€ê²½df['êµ­ì–´'] = ì»¬ëŸ¼ë‹¨ìœ„ë³€ê²½df['êµ­ì–´'].astype('float')
ì»¬ëŸ¼ë‹¨ìœ„ë³€ê²½df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, ì² ìˆ˜ to ì„ì˜
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   í•™ë…„      9 non-null      int64
 1   ì„±ë³„      9 non-null      object
 2   êµ­ì–´      9 non-null      float64
 3   ì˜ì–´      9 non-null      int64
 4   ìˆ˜í•™      9 non-null      int64
 5   ê³¼í•™      9 non-null      int64
dtypes: float64(1), int64(4), object(1)
memory usage: 504.0+ bytes

#### íƒ€ì… ì¼ê´„ ë³€ê²½ í›„ ìƒˆë¡œìš´ DataFrame ë¦¬í„´ ë°›ê¸°

In [7]:
íƒ€ì…ë³€í™˜df = origin.astype({'êµ­ì–´':'float','ì˜ì–´':'float','ìˆ˜í•™':'str','ê³¼í•™':'bool'})
íƒ€ì…ë³€í™˜df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, ì² ìˆ˜ to ì„ì˜
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   í•™ë…„      9 non-null      int64
 1   ì„±ë³„      9 non-null      object
 2   êµ­ì–´      9 non-null      float64
 3   ì˜ì–´      9 non-null      float64
 4   ìˆ˜í•™      9 non-null      object
 5   ê³¼í•™      9 non-null      bool
dtypes: bool(1), float64(2), int64(1), object(2)
memory usage: 441.0+ bytes

In [8]:
origin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, ì² ìˆ˜ to ì„ì˜
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   í•™ë…„      9 non-null      int64
 1   ì„±ë³„      9 non-null      object
 2   êµ­ì–´      9 non-null      int64
 3   ì˜ì–´      9 non-null      int64
 4   ìˆ˜í•™      9 non-null      int64
 5   ê³¼í•™      9 non-null      int64
dtypes: int64(5), object(1)
memory usage: 504.0+ bytes

#### ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ëª…ëª©ì²™ë„ë¡œ ë³€í™˜
1) ì»¬ëŸ¼ ë‹¨ìœ„ ë³€í™˜ ì›ë³¸ í›¼ì†ì„ ë°©ì§€í•˜ê¸° ìœ„í•´

In [9]:
ì»¬ëŸ¼ë‹¨ìœ„_ëª…ëª©df = origin.copy()
ì»¬ëŸ¼ë‹¨ìœ„_ëª…ëª©df['í•™ë…„'] = ì»¬ëŸ¼ë‹¨ìœ„_ëª…ëª©df['í•™ë…„'].astype('category')
ì»¬ëŸ¼ë‹¨ìœ„_ëª…ëª©df['ì„±ë³„'] = ì»¬ëŸ¼ë‹¨ìœ„_ëª…ëª©df['ì„±ë³„'].astype('category')
ì»¬ëŸ¼ë‹¨ìœ„_ëª…ëª©df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, ì² ìˆ˜ to ì„ì˜
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   í•™ë…„      9 non-null      category
 1   ì„±ë³„      9 non-null      category
 2   êµ­ì–´      9 non-null      int64
 3   ì˜ì–´      9 non-null      int64
 4   ìˆ˜í•™      9 non-null      int64
 5   ê³¼í•™      9 non-null      int64
dtypes: category(2), int64(4)
memory usage: 706.0+ bytes

#### ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ëª…ëª©ì²™ë„ë¡œ ë³€í™˜
2) DataFrame ì „ì²´ì— ì ìš© í›„ ë³µì‚¬ë³¸ ë¦¬í„´ ë°›ê¸°

In [10]:
ë²”ì£¼í˜•df = origin.astype({'í•™ë…„':'category','ì„±ë³„':'category'})
ë²”ì£¼í˜•df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, ì² ìˆ˜ to ì„ì˜
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   í•™ë…„      9 non-null      category
 1   ì„±ë³„      9 non-null      category
 2   êµ­ì–´      9 non-null      int64
 3   ì˜ì–´      9 non-null      int64
 4   ìˆ˜í•™      9 non-null      int64
 5   ê³¼í•™      9 non-null      int64
dtypes: category(2), int64(4)
memory usage: 706.0+ bytes

#### 3. ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ì„œì—´ì²™ë„ë¡œ ë³€í™˜

In [11]:
ì»¬ëŸ¼ë‹¨ìœ„_ì„œì—´ì²™ë„df = origin.copy()
ì»¬ëŸ¼ë‹¨ìœ„_ì„œì—´ì²™ë„df['í•™ë…„'] = ì»¬ëŸ¼ë‹¨ìœ„_ì„œì—´ì²™ë„df['í•™ë…„'].astype(
    CategoricalDtype(categories=[1,2,3,4],ordered=True)
)
ì»¬ëŸ¼ë‹¨ìœ„_ì„œì—´ì²™ë„df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, ì² ìˆ˜ to ì„ì˜
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   í•™ë…„      9 non-null      category
 1   ì„±ë³„      9 non-null      object
 2   êµ­ì–´      9 non-null      int64
 3   ì˜ì–´      9 non-null      int64
 4   ìˆ˜í•™      9 non-null      int64
 5   ê³¼í•™      9 non-null      int64
dtypes: category(1), int64(4), object(1)
memory usage: 645.0+ bytes

#### 1. ğ‘Ÿğ‘’ğ‘›ğ‘ğ‘šğ‘’() ë©”ì„œë“œì˜ ì‚¬ìš©

In [12]:
ì´ë¦„ë³€ê²½df = origin.rename(
    columns={'êµ­ì–´':'kor','ì˜ì–´':'eng','ìˆ˜í•™':'math','ê³¼í•™':'sci'},
    index={'ì„ì˜':'suk','í˜¸ì˜':'ho','ë¯¼ì² ':'min','ìˆ˜í˜„':'su'}
)
ì´ë¦„ë³€ê²½df

     í•™ë…„  ì„±ë³„  kor  eng  math  sci
ì´ë¦„
ì² ìˆ˜    1  ë‚¨ì   98   77    88   64
ì˜í¬    2  ì—¬ì   88  120    62   72
min   1  ë‚¨ì   92   70    83   79
su    3  ì—¬ì   63   60    31   71
ho    4  ë‚¨ì   75   50    90   88
ì˜í˜¸    4  ë‚¨ì   80   88    91   72
ìš©ì‹    2  ë‚¨ì   82   88    79   90
ë‚˜ì˜    1  ì—¬ì   90   92    81   95
suk   1  ë‚¨ì   91   90    89   80