# LAB 04 Data Preprocessing (1)

## #1. ì—´ ê¸°ì¤€ ë³‘í•©(1)

### ë¼ì´ë¸ŒëŸ¬ë¦¬ ì°¸ì¡°

In [46]:
from hossam import load_data
from pandas import DataFrame
from pandas import merge

#### ìƒ˜í”Œ ë°ì´í„° ê°€ì ¸ì˜¤ê¸°

In [3]:
ê³ ê° = load_data("customer_no_name")
ê³ ê°

[data] https://data.hossam.kr/data/lab04/customer-no-name.xlsx
[desc] ë°ì´í„°í”„ë ˆì„ ë³‘í•© ì‹¤ìŠµì„ ìœ„í•œ ê³ ê°ë²ˆí˜¸ì™€ ê³ ê° ì´ë¦„ì— ëŒ€í•œ ê°€ìƒ ë°ì´í„°(ì¸ë±ìŠ¤ì™€ ë©”íƒ€ë°ì´í„° ì—†ìŒ)
[!] Cannot read metadata

   ê³ ê°ë²ˆí˜¸   ì´ë¦„
0  1001   ë‘˜ë¦¬
1  1002  ë„ìš°ë„ˆ
2  1003   ë˜ì¹˜
3  1004   ê¸¸ë™
4  1005   í¬ë™
5  1006  ë§ˆì´ì½œ
6  1007   ì˜í¬

In [4]:
ë§¤ì¶œ = load_data("customer_no_pay")
ë§¤ì¶œ

[data] https://data.hossam.kr/data/lab04/customer-no-pay.xlsx
[desc] ë°ì´í„°í”„ë ˆì„ ë³‘í•© ì‹¤ìŠµì„ ìœ„í•œ ê³ ê°ë²ˆí˜¸ì™€ ë§¤ì¶œì•¡ì— ëŒ€í•œ ê°€ìƒ ë°ì´í„°(ì¸ë±ìŠ¤ì™€ ë©”íƒ€ë°ì´í„° ì—†ìŒ)
[!] Cannot read metadata

   ê³ ê°ë²ˆí˜¸      ê¸ˆì•¡
0  1001   10000
1  1001   20000
2  1005   15000
3  1006    5000
4  1008  100000
5  1001   30000

#### 1. ì¼ì¹˜í•˜ëŠ” ë°ì´í„° ë¼ë¦¬ ë³‘í•© (SQLì˜ innerjoinê³¼ ë™ì¼)

In [6]:
merge(ê³ ê°,ë§¤ì¶œ)

   ê³ ê°ë²ˆí˜¸   ì´ë¦„     ê¸ˆì•¡
0  1001   ë‘˜ë¦¬  10000
1  1001   ë‘˜ë¦¬  20000
2  1001   ë‘˜ë¦¬  30000
3  1005   í¬ë™  15000
4  1006  ë§ˆì´ì½œ   5000

#### 2. ì™¼ìª½ ë°ì´í„° í”„ë ˆì„ì„ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•© (SQLì˜ LEFTOUTERJOINê³¼ ë™ì¼)

In [8]:
merge(ê³ ê°,ë§¤ì¶œ,how="left")

   ê³ ê°ë²ˆí˜¸   ì´ë¦„       ê¸ˆì•¡
0  1001   ë‘˜ë¦¬  10000.0
1  1001   ë‘˜ë¦¬  20000.0
2  1001   ë‘˜ë¦¬  30000.0
3  1002  ë„ìš°ë„ˆ      NaN
4  1003   ë˜ì¹˜      NaN
5  1004   ê¸¸ë™      NaN
6  1005   í¬ë™  15000.0
7  1006  ë§ˆì´ì½œ   5000.0
8  1007   ì˜í¬      NaN

#### 2. ì˜¤ë¥¸ìª½ ë°ì´í„° í”„ë ˆì„ì„ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•© (SQLì˜ RIGHT OUTERJOINê³¼ ë™ì¼)

In [10]:
merge(ê³ ê°,ë§¤ì¶œ, how="right")

   ê³ ê°ë²ˆí˜¸   ì´ë¦„      ê¸ˆì•¡
0  1001   ë‘˜ë¦¬   10000
1  1001   ë‘˜ë¦¬   20000
2  1005   í¬ë™   15000
3  1006  ë§ˆì´ì½œ    5000
4  1008  NaN  100000
5  1001   ë‘˜ë¦¬   30000

In [11]:
cd1 = load_data("customer_data1")
cd1

[data] https://data.hossam.kr/data/lab04/customer_data1.xlsx
[desc] ë°ì´í„° ë³‘í•©ìš© ì‹¤ìŠµ ë°ì´í„° (1) (ì¸ë±ìŠ¤/ë©”íƒ€ë°ì´í„° ì—†ìŒ)
[!] Cannot read metadata

  ê³ ê°ëª…         ë‚ ì§œ     ë°ì´í„°
0  ë¯¼ìˆ˜ 2018-01-01   20000
1  ìˆ˜ì˜ 2018-01-01  100000

In [12]:
cd2 = load_data("customer_data2")
cd2

[data] https://data.hossam.kr/data/lab04/customer_data2.xlsx
[desc] ë°ì´í„° ë³‘í•©ìš© ì‹¤ìŠµ ë°ì´í„° (2) (ì¸ë±ìŠ¤/ë©”íƒ€ë°ì´í„° ì—†ìŒ)
[!] Cannot read metadata

  ê³ ê°ëª…  ë°ì´í„°
0  ë¯¼ìˆ˜  21ì„¸
1  ìˆ˜ì˜  20ì„¸

# ì˜¤ë¥˜ ë°œìƒ   cd1 ì€ intíƒ€ì… cd2ëŠ” str íƒ€ì…ì´ë¼ ë³‘í•©ê¸°ì¤€ ë¯¸ì¶©ì¡±
#merge(cd1,cd2)

#### 3. ë³‘í•© ê¸°ì¤€ ì„¤ì •

In [15]:
tmp = merge(cd1,cd2,on='ê³ ê°ëª…')

In [16]:
tmp

  ê³ ê°ëª…         ë‚ ì§œ   ë°ì´í„°_x ë°ì´í„°_y
0  ë¯¼ìˆ˜ 2018-01-01   20000   21ì„¸
1  ìˆ˜ì˜ 2018-01-01  100000   20ì„¸

#### 4. ë‘ ë°ì´í„° í”„ë ˆì„ì˜ ëª¨ë“  ì»¬ëŸ¼ ì´ë¦„ì´ ë‹¤ë¥¸ ê²½ìš°

In [17]:
df_left = DataFrame({'ì´ë¦„':['ì˜í¬','ì² ìˆ˜'],'êµ­ì–´':[97,12]})
df_left

   ì´ë¦„  êµ­ì–´
0  ì˜í¬  97
1  ì² ìˆ˜  12

In [21]:
df_right = DataFrame({'ì„±ëª…':['ì˜í¬','ì² ìˆ˜'],'ì˜ì–´':[27,23]})
df_right

   ì„±ëª…  ì˜ì–´
0  ì˜í¬  27
1  ì² ìˆ˜  23

In [25]:
r3 = merge(df_left,df_right,left_on=['ì´ë¦„'],right_on=['ì„±ëª…'])
r3

   ì´ë¦„  êµ­ì–´  ì„±ëª…  ì˜ì–´
0  ì˜í¬  97  ì˜í¬  27
1  ì² ìˆ˜  12  ì² ìˆ˜  23

#### 1. í•™ìƒì˜ ì´ë¦„ì„ ì¸ë±ìŠ¤ë¡œ ê°–ëŠ” ë‘ ë°ì´í„° í”„ë ˆì„ ìƒì„±

In [26]:
df_left = DataFrame({'ìˆ˜í•™':[90,12]},index=['ë¯¼ì² ','ë´‰êµ¬'])
df_left

    ìˆ˜í•™
ë¯¼ì²   90
ë´‰êµ¬  12

In [27]:
df_right = DataFrame({'êµ­ì–´':[90,12]},index=['ë¯¼ì² ','ì² ìˆ˜'])
df_right

    êµ­ì–´
ë¯¼ì²   90
ì² ìˆ˜  12

#### 2. ë³‘í•© ì¡°ê±´ì—ì„œ ğ‘–ğ‘›ğ‘‘ğ‘’ğ‘¥ë¥¼ ì‚¬ìš©í•˜ë„ë¡ ì§€ì •í•˜ì—¬ ğ¼ğ‘›ğ‘›ğ‘’ğ‘Ÿ ğ½ğ‘œğ‘–ğ‘› í•˜ê¸°

In [29]:
merge(df_left,df_right,left_index=True,right_index=True)

    ìˆ˜í•™  êµ­ì–´
ë¯¼ì²   90  90

In [30]:
merge(df_left,df_right,left_index=True,right_index=True,how="left")

    ìˆ˜í•™    êµ­ì–´
ë¯¼ì²   90  90.0
ë´‰êµ¬  12   NaN

#### 4. ë³‘í•© ì¡°ê±´ì—ì„œ ğ‘–ğ‘›ğ‘‘ğ‘’ğ‘¥ë¥¼ ì‚¬ìš©í•˜ë„ë¡ ì§€ì •í•˜ì—¬ ğ‘…ğ‘–ğ‘”â„ğ‘¡ ğ‘‚ğ‘¢ğ‘¡ğ‘’ğ‘Ÿ ğ½ğ‘œğ‘–ğ‘› í•˜ê¸°

In [32]:
merge(df_left,df_right,left_index=True,right_index=True,how="right")

      ìˆ˜í•™  êµ­ì–´
ë¯¼ì²   90.0  90
ì² ìˆ˜   NaN  12

In [33]:
merge(df_left,df_right,left_index=True,right_index=True,how="outer")

      ìˆ˜í•™    êµ­ì–´
ë¯¼ì²   90.0  90.0
ë´‰êµ¬  12.0   NaN
ì² ìˆ˜   NaN  12.0

### #05.ì¸ë±ìŠ¤ì™€ì»¬ëŸ¼ì„ê°ê°ê¸°ì¤€ìœ¼ë¡œí•˜ê¸°

In [34]:
df_left = DataFrame({'ìˆ˜í•™':[90,12]},index=['ë¯¼ì² ','ë´‰êµ¬'])
df_left

    ìˆ˜í•™
ë¯¼ì²   90
ë´‰êµ¬  12

In [36]:
df_right = DataFrame({'ì„±ëª…':['ë¯¼ì² ','ì² ìˆ˜'],'ì˜ì–´':[90,82]})
df_right

   ì„±ëª…  ì˜ì–´
0  ë¯¼ì²   90
1  ì² ìˆ˜  82

In [39]:
merge(df_left,df_right,left_index=True,right_on=['ì„±ëª…'])

   ìˆ˜í•™  ì„±ëª…  ì˜ì–´
0  90  ë¯¼ì²   90

In [40]:
merge(df_left,df_right,left_index=True,right_on=['ì„±ëª…'],how='left')

     ìˆ˜í•™  ì„±ëª…    ì˜ì–´
0.0  90  ë¯¼ì²   90.0
NaN  12  ë´‰êµ¬   NaN

In [41]:
merge(df_left,df_right,left_index=True,right_on=['ì„±ëª…'],how='right')

     ìˆ˜í•™  ì„±ëª…  ì˜ì–´
0  90.0  ë¯¼ì²   90
1   NaN  ì² ìˆ˜  82

In [43]:
tmp = merge(df_left,df_right,left_index=True,right_on=['ì„±ëª…'],how='outer')
tmp

       ìˆ˜í•™  ì„±ëª…    ì˜ì–´
0.0  90.0  ë¯¼ì²   90.0
NaN  12.0  ë´‰êµ¬   NaN
1.0   NaN  ì² ìˆ˜  82.0

In [44]:
tmp2 = tmp.set_index('ì„±ëª…')
tmp2

      ìˆ˜í•™    ì˜ì–´
ì„±ëª…
ë¯¼ì²   90.0  90.0
ë´‰êµ¬  12.0   NaN
ì² ìˆ˜   NaN  82.0