# LAB 05 Data Preprocessing(3)

## 2. ë°ì´í„° ì¬êµ¬ì¡°í™” (3) - íŒŒìƒ ë³€ìˆ˜

### ë¼ì´ë¸ŒëŸ¬ë¦¬ ì°¸ì¡°

In [1]:
from hossam import load_data
import numpy as np

In [2]:
origin = load_data('grade')
origin

[data] https://data.hossam.kr/data/common/grade.xlsx
[desc] ì–´ëŠ í•™ê¸‰ì˜ ê³¼ëª©ë³„ ì ìˆ˜ë¥¼ ì¡°ì‚¬í•œ ê°€ìƒì˜ ë°ì´í„°

field    description
-------  -------------
ì´ë¦„     index
í•™ë…„     int
ì„±ë³„     str
êµ­ì–´     int
ì˜ì–´     int
ìˆ˜í•™     int
ê³¼í•™     int

    í•™ë…„  ì„±ë³„  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  98   77  88  64
ì˜í¬   2  ì—¬ì  88  120  62  72
ë¯¼ì²    1  ë‚¨ì  92   70  83  79
ìˆ˜í˜„   3  ì—¬ì  63   60  31  71
í˜¸ì˜   4  ë‚¨ì  75   50  90  88
ì˜í˜¸   4  ë‚¨ì  80   88  91  72
ìš©ì‹   2  ë‚¨ì  82   88  79  90
ë‚˜ì˜   1  ì—¬ì  90   92  81  95
ì„ì˜   1  ë‚¨ì  91   90  89  80

In [3]:
### íŒŒìƒë³€ìˆ˜ì¶”ê°€í•˜ê¸°

In [4]:
#### 1. ì»¬ëŸ¼ ì—°ì‚°ì„ í†µí•œ ìƒˆë¡œìš´ ì»¬ëŸ¼ ì¶”ê°€

In [5]:
df1 = origin.copy()
df1['ì§ì ‘í•©ê³„'] = df1['êµ­ì–´']+df1['ìˆ˜í•™']+df1['ì˜ì–´']+df1['ê³¼í•™']
df1

    í•™ë…„  ì„±ë³„  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì§ì ‘í•©ê³„
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  98   77  88  64   327
ì˜í¬   2  ì—¬ì  88  120  62  72   342
ë¯¼ì²    1  ë‚¨ì  92   70  83  79   324
ìˆ˜í˜„   3  ì—¬ì  63   60  31  71   225
í˜¸ì˜   4  ë‚¨ì  75   50  90  88   303
ì˜í˜¸   4  ë‚¨ì  80   88  91  72   331
ìš©ì‹   2  ë‚¨ì  82   88  79  90   339
ë‚˜ì˜   1  ì—¬ì  90   92  81  95   358
ì„ì˜   1  ë‚¨ì  91   90  89  80   350

In [6]:
#### 2. ê¸°ìˆ í†µê³„ ê´€ë ¨ í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•œ íŒŒìƒë³€ìˆ˜

In [8]:
df2 = origin.copy()
df2['í•©ê³„'] = df2[df2.columns[2:6]].sum(axis=1)
df2

    í•™ë…„  ì„±ë³„  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™   í•©ê³„
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  98   77  88  64  327
ì˜í¬   2  ì—¬ì  88  120  62  72  342
ë¯¼ì²    1  ë‚¨ì  92   70  83  79  324
ìˆ˜í˜„   3  ì—¬ì  63   60  31  71  225
í˜¸ì˜   4  ë‚¨ì  75   50  90  88  303
ì˜í˜¸   4  ë‚¨ì  80   88  91  72  331
ìš©ì‹   2  ë‚¨ì  82   88  79  90  339
ë‚˜ì˜   1  ì—¬ì  90   92  81  95  358
ì„ì˜   1  ë‚¨ì  91   90  89  80  350

In [9]:
df3 = origin.copy()
df3['í•©ê³„'] = df3.iloc[:,2:].sum(axis=1)
df3

    í•™ë…„  ì„±ë³„  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™   í•©ê³„
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  98   77  88  64  327
ì˜í¬   2  ì—¬ì  88  120  62  72  342
ë¯¼ì²    1  ë‚¨ì  92   70  83  79  324
ìˆ˜í˜„   3  ì—¬ì  63   60  31  71  225
í˜¸ì˜   4  ë‚¨ì  75   50  90  88  303
ì˜í˜¸   4  ë‚¨ì  80   88  91  72  331
ìš©ì‹   2  ë‚¨ì  82   88  79  90  339
ë‚˜ì˜   1  ì—¬ì  90   92  81  95  358
ì„ì˜   1  ë‚¨ì  91   90  89  80  350

In [10]:
df3['í‰ê· '] = df3.iloc[:,2:6].mean(axis=1)
df3['ìµœëŒ€ê°’'] = df3.iloc[:,2:6].max(axis=1)
df3['ìµœì†Œê°’'] = df3.iloc[:,2:6].min(axis=1)
df3['í‘œì¤€í¸ì°¨'] = df3.iloc[:,2:6].std(axis=1)
df3['ë¶„ì‚°'] = df3.iloc[:,2:6].var(axis=1)
df3

    í•™ë…„  ì„±ë³„  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™   í•©ê³„     í‰ê·   ìµœëŒ€ê°’  ìµœì†Œê°’       í‘œì¤€í¸ì°¨          ë¶„ì‚°
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  98   77  88  64  327  81.75   98   64  14.614491  213.583333
ì˜í¬   2  ì—¬ì  88  120  62  72  342  85.50  120   62  25.370587  643.666667
ë¯¼ì²    1  ë‚¨ì  92   70  83  79  324  81.00   92   70   9.128709   83.333333
ìˆ˜í˜„   3  ì—¬ì  63   60  31  71  225  56.25   71   31  17.461863  304.916667
í˜¸ì˜   4  ë‚¨ì  75   50  90  88  303  75.75   90   50  18.409689  338.916667
ì˜í˜¸   4  ë‚¨ì  80   88  91  72  331  82.75   91   72   8.539126   72.916667
ìš©ì‹   2  ë‚¨ì  82   88  79  90  339  84.75   90   79   5.123475   26.250000
ë‚˜ì˜   1  ì—¬ì  90   92  81  95  358  89.50   95   81   6.027714   36.333333
ì„ì˜   1  ë‚¨ì  91   90  89  80  350  87.50   91   80   5.066228   25.666667

In [11]:
### #03.ì¡°ê±´ë³„íŒŒìƒë³€ìˆ˜

In [12]:
#### 1. ğ‘–ğ‘“ ~ ğ‘’ğ‘™ğ‘ ğ‘’

In [16]:
df4 = origin.copy()
df4['í•©ê³„'] = df4.iloc[:,2:6].sum(axis=1)
df4['í‰ê· '] = df4.iloc[:,2:6].mean(axis=1)
df4

    í•™ë…„  ì„±ë³„  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™   í•©ê³„     í‰ê·
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  98   77  88  64  327  81.75
ì˜í¬   2  ì—¬ì  88  120  62  72  342  85.50
ë¯¼ì²    1  ë‚¨ì  92   70  83  79  324  81.00
ìˆ˜í˜„   3  ì—¬ì  63   60  31  71  225  56.25
í˜¸ì˜   4  ë‚¨ì  75   50  90  88  303  75.75
ì˜í˜¸   4  ë‚¨ì  80   88  91  72  331  82.75
ìš©ì‹   2  ë‚¨ì  82   88  79  90  339  84.75
ë‚˜ì˜   1  ì—¬ì  90   92  81  95  358  89.50
ì„ì˜   1  ë‚¨ì  91   90  89  80  350  87.50

In [17]:
df4['ê²°ê³¼'] = np.where(df4['í‰ê· ']>=80,'í•©ê²©','ë¶ˆí•©ê²©')
df4

    í•™ë…„  ì„±ë³„  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™   í•©ê³„     í‰ê·    ê²°ê³¼
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  98   77  88  64  327  81.75   í•©ê²©
ì˜í¬   2  ì—¬ì  88  120  62  72  342  85.50   í•©ê²©
ë¯¼ì²    1  ë‚¨ì  92   70  83  79  324  81.00   í•©ê²©
ìˆ˜í˜„   3  ì—¬ì  63   60  31  71  225  56.25  ë¶ˆí•©ê²©
í˜¸ì˜   4  ë‚¨ì  75   50  90  88  303  75.75  ë¶ˆí•©ê²©
ì˜í˜¸   4  ë‚¨ì  80   88  91  72  331  82.75   í•©ê²©
ìš©ì‹   2  ë‚¨ì  82   88  79  90  339  84.75   í•©ê²©
ë‚˜ì˜   1  ì—¬ì  90   92  81  95  358  89.50   í•©ê²©
ì„ì˜   1  ë‚¨ì  91   90  89  80  350  87.50   í•©ê²©

In [18]:
df4['ê²°ê³¼2'] = 'ë¶ˆí•©ê²©'
df4.loc[df4['í‰ê· ']>=80,'ê²°ê³¼2'] = 'í•©ê²©'
df4

    í•™ë…„  ì„±ë³„  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™   í•©ê³„     í‰ê·    ê²°ê³¼  ê²°ê³¼2
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  98   77  88  64  327  81.75   í•©ê²©   í•©ê²©
ì˜í¬   2  ì—¬ì  88  120  62  72  342  85.50   í•©ê²©   í•©ê²©
ë¯¼ì²    1  ë‚¨ì  92   70  83  79  324  81.00   í•©ê²©   í•©ê²©
ìˆ˜í˜„   3  ì—¬ì  63   60  31  71  225  56.25  ë¶ˆí•©ê²©  ë¶ˆí•©ê²©
í˜¸ì˜   4  ë‚¨ì  75   50  90  88  303  75.75  ë¶ˆí•©ê²©  ë¶ˆí•©ê²©
ì˜í˜¸   4  ë‚¨ì  80   88  91  72  331  82.75   í•©ê²©   í•©ê²©
ìš©ì‹   2  ë‚¨ì  82   88  79  90  339  84.75   í•©ê²©   í•©ê²©
ë‚˜ì˜   1  ì—¬ì  90   92  81  95  358  89.50   í•©ê²©   í•©ê²©
ì„ì˜   1  ë‚¨ì  91   90  89  80  350  87.50   í•©ê²©   í•©ê²©

In [19]:
conditions = [
    (df4['í‰ê· ']>=90),
    (df4['í‰ê· ']>=80),
    (df4['í‰ê· ']>=70),
]

value = ['A','B','C']

df4['í•™ì '] = np.select(conditions,value,default='F')
df4

    í•™ë…„  ì„±ë³„  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™   í•©ê³„     í‰ê·    ê²°ê³¼  ê²°ê³¼2 í•™ì
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  98   77  88  64  327  81.75   í•©ê²©   í•©ê²©  B
ì˜í¬   2  ì—¬ì  88  120  62  72  342  85.50   í•©ê²©   í•©ê²©  B
ë¯¼ì²    1  ë‚¨ì  92   70  83  79  324  81.00   í•©ê²©   í•©ê²©  B
ìˆ˜í˜„   3  ì—¬ì  63   60  31  71  225  56.25  ë¶ˆí•©ê²©  ë¶ˆí•©ê²©  F
í˜¸ì˜   4  ë‚¨ì  75   50  90  88  303  75.75  ë¶ˆí•©ê²©  ë¶ˆí•©ê²©  C
ì˜í˜¸   4  ë‚¨ì  80   88  91  72  331  82.75   í•©ê²©   í•©ê²©  B
ìš©ì‹   2  ë‚¨ì  82   88  79  90  339  84.75   í•©ê²©   í•©ê²©  B
ë‚˜ì˜   1  ì—¬ì  90   92  81  95  358  89.50   í•©ê²©   í•©ê²©  B
ì„ì˜   1  ë‚¨ì  91   90  89  80  350  87.50   í•©ê²©   í•©ê²©  B

In [ ]:
def getScore(x):
    if x >=90:
        score = 'A'
    elif x>=80:
        score = 'B'
    elif x>=70:
        score = 'C'
    else:
        score = 'F'
    return score

In [27]:
df4['í•™ì 2'] = df4['í‰ê· '].apply(getScore)
df4

    í•™ë…„  ì„±ë³„  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™   í•©ê³„     í‰ê·    ê²°ê³¼  ê²°ê³¼2 í•™ì  í•™ì 2
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  98   77  88  64  327  81.75   í•©ê²©   í•©ê²©  B   B
ì˜í¬   2  ì—¬ì  88  120  62  72  342  85.50   í•©ê²©   í•©ê²©  B   B
ë¯¼ì²    1  ë‚¨ì  92   70  83  79  324  81.00   í•©ê²©   í•©ê²©  B   B
ìˆ˜í˜„   3  ì—¬ì  63   60  31  71  225  56.25  ë¶ˆí•©ê²©  ë¶ˆí•©ê²©  F   F
í˜¸ì˜   4  ë‚¨ì  75   50  90  88  303  75.75  ë¶ˆí•©ê²©  ë¶ˆí•©ê²©  C   C
ì˜í˜¸   4  ë‚¨ì  80   88  91  72  331  82.75   í•©ê²©   í•©ê²©  B   B
ìš©ì‹   2  ë‚¨ì  82   88  79  90  339  84.75   í•©ê²©   í•©ê²©  B   B
ë‚˜ì˜   1  ì—¬ì  90   92  81  95  358  89.50   í•©ê²©   í•©ê²©  B   B
ì„ì˜   1  ë‚¨ì  91   90  89  80  350  87.50   í•©ê²©   í•©ê²©  B   B

In [30]:
df4['í•™ì 3'] = df4['í‰ê· '].apply(
    lambda x: {10:'A',9:'A',8:'B',7:'C'}.get(x//10, 'F')
)
df4

    í•™ë…„  ì„±ë³„  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™   í•©ê³„     í‰ê·    ê²°ê³¼  ê²°ê³¼2 í•™ì  í•™ì 2 í•™ì 3
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  98   77  88  64  327  81.75   í•©ê²©   í•©ê²©  B   B   B
ì˜í¬   2  ì—¬ì  88  120  62  72  342  85.50   í•©ê²©   í•©ê²©  B   B   B
ë¯¼ì²    1  ë‚¨ì  92   70  83  79  324  81.00   í•©ê²©   í•©ê²©  B   B   B
ìˆ˜í˜„   3  ì—¬ì  63   60  31  71  225  56.25  ë¶ˆí•©ê²©  ë¶ˆí•©ê²©  F   F   F
í˜¸ì˜   4  ë‚¨ì  75   50  90  88  303  75.75  ë¶ˆí•©ê²©  ë¶ˆí•©ê²©  C   C   C
ì˜í˜¸   4  ë‚¨ì  80   88  91  72  331  82.75   í•©ê²©   í•©ê²©  B   B   B
ìš©ì‹   2  ë‚¨ì  82   88  79  90  339  84.75   í•©ê²©   í•©ê²©  B   B   B
ë‚˜ì˜   1  ì—¬ì  90   92  81  95  358  89.50   í•©ê²©   í•©ê²©  B   B   B
ì„ì˜   1  ë‚¨ì  91   90  89  80  350  87.50   í•©ê²©   í•©ê²©  B   B   B

In [32]:
df4['ì„±ë³„ì½”ë“œ'] = df4['ì„±ë³„'].map({'ë‚¨ì':'m','ì—¬ì':'F'})
df4

    í•™ë…„  ì„±ë³„  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™   í•©ê³„     í‰ê·    ê²°ê³¼  ê²°ê³¼2 í•™ì  í•™ì 2 í•™ì 3 ì„±ë³„ì½”ë“œ
ì´ë¦„
ì² ìˆ˜   1  ë‚¨ì  98   77  88  64  327  81.75   í•©ê²©   í•©ê²©  B   B   B    m
ì˜í¬   2  ì—¬ì  88  120  62  72  342  85.50   í•©ê²©   í•©ê²©  B   B   B    F
ë¯¼ì²    1  ë‚¨ì  92   70  83  79  324  81.00   í•©ê²©   í•©ê²©  B   B   B    m
ìˆ˜í˜„   3  ì—¬ì  63   60  31  71  225  56.25  ë¶ˆí•©ê²©  ë¶ˆí•©ê²©  F   F   F    F
í˜¸ì˜   4  ë‚¨ì  75   50  90  88  303  75.75  ë¶ˆí•©ê²©  ë¶ˆí•©ê²©  C   C   C    m
ì˜í˜¸   4  ë‚¨ì  80   88  91  72  331  82.75   í•©ê²©   í•©ê²©  B   B   B    m
ìš©ì‹   2  ë‚¨ì  82   88  79  90  339  84.75   í•©ê²©   í•©ê²©  B   B   B    m
ë‚˜ì˜   1  ì—¬ì  90   92  81  95  358  89.50   í•©ê²©   í•©ê²©  B   B   B    F
ì„ì˜   1  ë‚¨ì  91   90  89  80  350  87.50   í•©ê²©   í•©ê²©  B   B   B    m