# LAB 05 Data Preprocessing(3)

## 4. Î≤îÏ£ºÌòï Î≥ÄÏàò Ïù∏ÏΩîÎî©

### ÎùºÏù¥Î∏åÎü¨Î¶¨ Ï∞∏Ï°∞

In [1]:
from hossam import load_data
from pandas import DataFrame, get_dummies, merge
from sklearn.preprocessing import OneHotEncoder

In [4]:
origin = load_data('nursing_grades')
origin.info()

[data] https://data.hossam.kr/data/lab05/nursing_grades.xlsx
[desc] Ïñ¥Îäê Í∞ÑÌò∏ÌïôÍ≥º ÎåÄÌïôÏõêÏóê ÏßÄÏõêÌïú ÌïôÏÉùÎì§Ïóê ÎåÄÌïú Ìï©Í≤©/Î∂àÌï©Í≤© Ïó¨Î∂ÄÎ•º Ï°∞ÏÇ¨Ìïú Í∞ÄÏÉÅÏùò Îç∞Ïù¥ÌÑ∞(Î©îÌÉÄÎç∞Ïù¥ÌÑ∞ ÏóÜÏùå)
[!] Cannot read metadata
<class 'pandas.core.frame.DataFrame'>
Index: 400 entries, NRS0001 to NRS0400
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ïù¥Î¶Ñ      400 non-null    object
 1   ÏÑ±Î≥Ñ      400 non-null    object
 2   ÌïÑÍ∏∞Ï†êÏàò    400 non-null    int64
 3   ÌïôÎ∂ÄÏÑ±Ï†Å    400 non-null    float64
 4   Î≥ëÏõêÍ≤ΩÎ†•    400 non-null    int64
 5   Ìï©Í≤©Ïó¨Î∂Ä    400 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 21.9+ KB

#### Î≤îÏ£ºÌòï ÌÉÄÏûÖ Î≥ÄÌôò

In [6]:
df = origin.astype({'ÏÑ±Î≥Ñ':'category','Î≥ëÏõêÍ≤ΩÎ†•':'category','Ìï©Í≤©Ïó¨Î∂Ä':'category'})
df

          Ïù¥Î¶Ñ ÏÑ±Î≥Ñ  ÌïÑÍ∏∞Ï†êÏàò  ÌïôÎ∂ÄÏÑ±Ï†Å Î≥ëÏõêÍ≤ΩÎ†• Ìï©Í≤©Ïó¨Î∂Ä
Ï†ëÏàòÏΩîÎìú
NRS0001  Ïû•ÏùÄÏö∞  ÎÇ®   380  3.61    3  Î∂àÌï©Í≤©
NRS0002  ÏµúÏßÄÌò∏  ÎÇ®   660  3.67    3   Ìï©Í≤©
NRS0003  ÍπÄÌïòÏ§Ä  ÎÇ®   800  4.00    1   Ìï©Í≤©
NRS0004  ÏûÑÏïÑÏú§  Ïó¨   640  3.19    4   Ìï©Í≤©
NRS0005  Í∞ïÌïòÏ§Ä  ÎÇ®   520  2.93    4  Î∂àÌï©Í≤©
...      ... ..   ...   ...  ...  ...
NRS0396  Î∞ïÏßÄÏú†  Ïó¨   620  4.00    2  Î∂àÌï©Í≤©
NRS0397  Ï°∞ÌïòÏùÄ  Ïó¨   560  3.04    3  Î∂àÌï©Í≤©
NRS0398  Î∞ïÌïòÏú§  Ïó¨   460  2.63    2  Î∂àÌï©Í≤©
NRS0399  Ïù¥ÏßÄÏö∞  Ïó¨   700  3.65    2  Î∂àÌï©Í≤©
NRS0400  Í∞ïÌïòÏùÄ  Ïó¨   600  3.89    3  Î∂àÌï©Í≤©

[400 rows x 6 columns]

#### 1. Î™®Îì† ÌïÑÎìúÎ•º ÎçîÎØ∏Î≥ÄÏàòÎ°ú Î≥ÄÌôò (ùëÅÍ∞ú ÏÉùÏÑ±)

In [8]:
df1 = get_dummies(df,columns=['ÏÑ±Î≥Ñ'],dtype='int')
df1.head()

          Ïù¥Î¶Ñ  ÌïÑÍ∏∞Ï†êÏàò  ÌïôÎ∂ÄÏÑ±Ï†Å Î≥ëÏõêÍ≤ΩÎ†• Ìï©Í≤©Ïó¨Î∂Ä  ÏÑ±Î≥Ñ_ÎÇ®  ÏÑ±Î≥Ñ_Ïó¨
Ï†ëÏàòÏΩîÎìú
NRS0001  Ïû•ÏùÄÏö∞   380  3.61    3  Î∂àÌï©Í≤©     1     0
NRS0002  ÏµúÏßÄÌò∏   660  3.67    3   Ìï©Í≤©     1     0
NRS0003  ÍπÄÌïòÏ§Ä   800  4.00    1   Ìï©Í≤©     1     0
NRS0004  ÏûÑÏïÑÏú§   640  3.19    4   Ìï©Í≤©     0     1
NRS0005  Í∞ïÌïòÏ§Ä   520  2.93    4  Î∂àÌï©Í≤©     1     0

In [9]:
df2 = get_dummies(df,columns=['ÏÑ±Î≥Ñ'],dtype='int',drop_first=True)
df2.head()

          Ïù¥Î¶Ñ  ÌïÑÍ∏∞Ï†êÏàò  ÌïôÎ∂ÄÏÑ±Ï†Å Î≥ëÏõêÍ≤ΩÎ†• Ìï©Í≤©Ïó¨Î∂Ä  ÏÑ±Î≥Ñ_Ïó¨
Ï†ëÏàòÏΩîÎìú
NRS0001  Ïû•ÏùÄÏö∞   380  3.61    3  Î∂àÌï©Í≤©     0
NRS0002  ÏµúÏßÄÌò∏   660  3.67    3   Ìï©Í≤©     0
NRS0003  ÍπÄÌïòÏ§Ä   800  4.00    1   Ìï©Í≤©     0
NRS0004  ÏûÑÏïÑÏú§   640  3.19    4   Ìï©Í≤©     1
NRS0005  Í∞ïÌïòÏ§Ä   520  2.93    4  Î∂àÌï©Í≤©     0

In [10]:
df3 = get_dummies(df,columns=['ÏÑ±Î≥Ñ','Î≥ëÏõêÍ≤ΩÎ†•'],dtype='int',drop_first=True)
df3.head()

          Ïù¥Î¶Ñ  ÌïÑÍ∏∞Ï†êÏàò  ÌïôÎ∂ÄÏÑ±Ï†Å Ìï©Í≤©Ïó¨Î∂Ä  ÏÑ±Î≥Ñ_Ïó¨  Î≥ëÏõêÍ≤ΩÎ†•_2  Î≥ëÏõêÍ≤ΩÎ†•_3  Î≥ëÏõêÍ≤ΩÎ†•_4
Ï†ëÏàòÏΩîÎìú
NRS0001  Ïû•ÏùÄÏö∞   380  3.61  Î∂àÌï©Í≤©     0       0       1       0
NRS0002  ÏµúÏßÄÌò∏   660  3.67   Ìï©Í≤©     0       0       1       0
NRS0003  ÍπÄÌïòÏ§Ä   800  4.00   Ìï©Í≤©     0       0       0       0
NRS0004  ÏûÑÏïÑÏú§   640  3.19   Ìï©Í≤©     1       0       0       1
NRS0005  Í∞ïÌïòÏ§Ä   520  2.93  Î∂àÌï©Í≤©     0       0       0       1

### #02.Scikit-LearnÏùÑÏÇ¨Ïö©ÌïòÎäîÎ∞©Î≤ï(Ìä∏Î¶¨Í∏∞Î∞òÎ®∏Ïã†Îü¨ÎãùÎ™®ÌòïÏóêÏ∂îÏ≤ú)

In [12]:
x = df['ÏÑ±Î≥Ñ'].values.reshape(-1,1)
x

[['ÎÇ®'], ['ÎÇ®'], ['ÎÇ®'], ['Ïó¨'], ['ÎÇ®'], ..., ['Ïó¨'], ['Ïó¨'], ['Ïó¨'], ['Ïó¨'], ['Ïó¨']]
Length: 400
Categories (2, object): ['ÎÇ®', 'Ïó¨']

In [13]:
x = df[['ÏÑ±Î≥Ñ']]
x.head()

        ÏÑ±Î≥Ñ
Ï†ëÏàòÏΩîÎìú
NRS0001  ÎÇ®
NRS0002  ÎÇ®
NRS0003  ÎÇ®
NRS0004  Ïó¨
NRS0005  ÎÇ®

In [14]:
#### 3. 2Îã®Í≥Ñ : OneHotEncoding Ï≤òÎ¶¨

In [15]:
encoder = OneHotEncoder(sparse_output=False,drop=None)
result = encoder.fit_transform(x)
result

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

#### 4. 3Îã®Í≥Ñ : Ïù∏ÏΩîÎî© Í≤∞Í≥ºÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÏÉùÏÑ±

In [16]:
new_cols = encoder.get_feature_names_out(['ÏÑ±Î≥Ñ'])
new_cols

array(['ÏÑ±Î≥Ñ_ÎÇ®', 'ÏÑ±Î≥Ñ_Ïó¨'], dtype=object)

In [17]:
one_hot_df = DataFrame(result,columns=new_cols,index=df.index)
one_hot_df

         ÏÑ±Î≥Ñ_ÎÇ®  ÏÑ±Î≥Ñ_Ïó¨
Ï†ëÏàòÏΩîÎìú
NRS0001   1.0   0.0
NRS0002   1.0   0.0
NRS0003   1.0   0.0
NRS0004   0.0   1.0
NRS0005   1.0   0.0
...       ...   ...
NRS0396   0.0   1.0
NRS0397   0.0   1.0
NRS0398   0.0   1.0
NRS0399   0.0   1.0
NRS0400   0.0   1.0

[400 rows x 2 columns]

In [18]:
df_copy = df.copy()
df4 = merge(df_copy,one_hot_df,left_index=True,right_index=True)
df4.head()

          Ïù¥Î¶Ñ ÏÑ±Î≥Ñ  ÌïÑÍ∏∞Ï†êÏàò  ÌïôÎ∂ÄÏÑ±Ï†Å Î≥ëÏõêÍ≤ΩÎ†• Ìï©Í≤©Ïó¨Î∂Ä  ÏÑ±Î≥Ñ_ÎÇ®  ÏÑ±Î≥Ñ_Ïó¨
Ï†ëÏàòÏΩîÎìú
NRS0001  Ïû•ÏùÄÏö∞  ÎÇ®   380  3.61    3  Î∂àÌï©Í≤©   1.0   0.0
NRS0002  ÏµúÏßÄÌò∏  ÎÇ®   660  3.67    3   Ìï©Í≤©   1.0   0.0
NRS0003  ÍπÄÌïòÏ§Ä  ÎÇ®   800  4.00    1   Ìï©Í≤©   1.0   0.0
NRS0004  ÏûÑÏïÑÏú§  Ïó¨   640  3.19    4   Ìï©Í≤©   0.0   1.0
NRS0005  Í∞ïÌïòÏ§Ä  ÎÇ®   520  2.93    4  Î∂àÌï©Í≤©   1.0   0.0