1/2.í•™ìƒ í¡ì—°ìœ¨ ë°ì´í„° ì „ì²˜ë¦¬

ğ‘ ğ‘¡ğ‘¢ğ‘‘ğ‘’ğ‘›ğ‘¡ğ‘ _ğ‘ ğ‘šğ‘œğ‘˜ğ‘’ ë°ì´í„° ì…‹ì€ í•œ ë„ì‹œì˜ 20ê°œ ì¤‘,ê³ êµë¥¼ ëŒ€ìƒìœ¼ë¡œ ì¡°ì‚¬í•œ í¡ì—°ìœ¨ ìë£Œì´ë‹¤.
ë„ì‹œì™€ ë†ì´Œë³„ì— ë”°ë¥¸ ë‚¨ì—¬ í‰ê·  í¡ì—°ìœ¨ì„ í™•ì¸í•  ìˆ˜ ìˆëŠ” ë°ì´í„° í”¼ë²—í…Œì´ë¸”ë¡œ êµ¬ì„±í•˜ì‹œì˜¤.

In [1]:
from hossam import load_data
from pandas import pivot_table, melt ,DataFrame
import numpy as np

In [2]:
origin = load_data('students_smoke')
origin

[data] https://data.hossam.kr/data/lab05/students_smoke.xlsx
[desc] í•œ ë„ì‹œì˜ 20ê°œ ì¤‘,ê³ êµë¥¼ ëŒ€ìƒìœ¼ë¡œ ì¡°ì‚¬í•œ í¡ì—°ìœ¨ ìë£Œ (ì¸ë±ìŠ¤ì™€ ë©”íƒ€ë°ì´í„° ì—†ìŒ)
[!] Cannot read metadata

    ì§€ì—­  êµ¬ì„±   í¡ì—°ìœ¨
0   ë„ì‹œ   ë‚¨  0.64
1   ë„ì‹œ   ì—¬  0.45
2   ë†ì´Œ  ê³µí•™  0.70
3   ë„ì‹œ   ë‚¨  0.85
4   ë†ì´Œ   ë‚¨  0.72
5   ë„ì‹œ   ë‚¨  0.78
6   ë„ì‹œ   ì—¬  0.62
7   ë„ì‹œ   ë‚¨  0.79
8   ë†ì´Œ   ë‚¨  0.75
9   ë†ì´Œ  ê³µí•™  0.81
10  ë†ì´Œ   ì—¬  0.56
11  ë„ì‹œ   ì—¬  0.48
12  ë†ì´Œ   ë‚¨  0.72
13  ë„ì‹œ  ê³µí•™  0.68
14  ë†ì´Œ   ë‚¨  0.79
15  ë„ì‹œ   ë‚¨  0.90
16  ë†ì´Œ   ì—¬  0.34
17  ë„ì‹œ   ì—¬  0.48
18  ë†ì´Œ   ì—¬  0.49
19  ë†ì´Œ  ê³µí•™  0.76

In [29]:
#ì„±ë³„ = origin.query("êµ¬ì„± in ['ë‚¨', 'ì—¬']")

pv = pivot_table(origin,
                    index='ì§€ì—­',
                    columns='êµ¬ì„±',
                    values='í¡ì—°ìœ¨',
                    aggfunc='mean')

pv

êµ¬ì„±        ê³µí•™      ë‚¨         ì—¬
ì§€ì—­
ë†ì´Œ  0.756667  0.745  0.463333
ë„ì‹œ  0.680000  0.792  0.507500

#### ë™ë„¤ ì•„ì´ìŠ¤í¬ë¦¼ ê°€ê²Œ ë§¤ì¶œ ë¶„ì„ ì±Œë¦°ì§€!

ë‹¹ì‹ ì€ ìµœê·¼ ë™ë„¤ì— ìƒˆë¡œ ìƒê¸´ 'ë‹¬ì½¤ ìŠ¤ì¿±'ì•„ì´ìŠ¤í¬ë¦¼ ê°€ê²Œì˜ ë°ì´í„° ë¶„ì„ì„ ì˜ë¢°ë°›ì•˜ìŠµë‹ˆë‹¤.
â— ì‚¬ì¥ë‹˜ì€ ì—¬ë¦„ ì‹œì¦Œì„ ë§ì•„ ì–´ë–¤ ë§› ì•„ì´ìŠ¤í¬ë¦¼ì´ ì¸ê¸°ê°€ ë§ì€ì§€,ë‚ ì§œë³„ íŒë§¤ ì¶”ì´ëŠ” ì–´ë–¤ì§€ ê¶ê¸ˆí•´í•˜ë©°,
íš¨ìœ¨ì ì¸ ì¬ê³  ê´€ë¦¬ë¥¼ ìœ„í•œ ë°ì´í„° ë¶„ì„ì„ ë‹¹ì‹ ì—ê²Œ ì˜ë¢°í–ˆìŠµë‹ˆë‹¤.
â— ë‹¹ì‹ ì—ê²Œ ì£¼ì–´ì§„ ğ‘–ğ‘ğ‘’ğ‘ğ‘Ÿğ‘’ğ‘ğ‘š_ğ‘ ğ‘ğ‘™ğ‘’ğ‘  ë°ì´í„°ì…‹ì„ ì‚¬ìš©í•˜ì—¬ ë‹¤ìŒì˜ ì˜ë¢°ë¥¼ ì™„ìˆ˜í•˜ì„¸ìš”.
18
2/2.ë™ë„¤ ì•„ì´ìŠ¤í¬ë¦¼ ê°€ê²Œ ë§¤ì¶œ ë¶„ì„ ì±Œë¦°ì§€!

1. ë°ì´í„°ì˜ ì „ì²´ì ì¸ êµ¬ì¡°ì™€ ì •ë³´ë¥¼ í™•ì¸í•˜ê³ ,íŒë§¤ ìˆ˜ëŸ‰ì— ê²°ì¸¡ì¹˜ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ì„¸ìš”.
ë§Œì•½ ê²°ì¸¡ì¹˜ê°€ ìˆë‹¤ë©´,í•´ë‹¹ í–‰ì„ ì œê±°í•˜ì„¸ìš”.
2. íŒë§¤ ë‚ ì§œë¥¼ ì¸ë±ìŠ¤ë¡œ,ì•„ì´ìŠ¤í¬ë¦¼ ë§›ì„ ì»¬ëŸ¼ìœ¼ë¡œ í•˜ì—¬ ê° ë§›ì˜ ì¼ë³„ íŒë§¤ëŸ‰ì„ ë³´ì—¬ì£¼ëŠ” í”¼ë²— í…Œì´ë¸”ì„
ë§Œë“œì„¸ìš”.
3. ì‚¬ì¥ë‹˜ì´ ë‹¤ë¥¸ ë¶„ì„ íˆ´ì—ì„œ ì‚¬ìš©í•˜ê³  ì‹¶ë‹¤ë©°,ìœ„ì—ì„œ ë§Œë“  í”¼ë²— í…Œì´ë¸”ì„ ë‹¤ì‹œ ê¸´ í˜•ì‹(Longformat)ì˜
ë°ì´í„°ë¡œ ë¶„ë¦¬í•´ ë‹¬ë¼êµ ìš”ì²­í–ˆìŠµë‹ˆë‹¤.ì»¬ëŸ¼ ì´ë¦„ì€ ì›ë³¸ ì´ë¦„ì„ ê·¸ëŒ€ë¡œ ìœ ì§€í•´ì•¼ í•©ë‹ˆë‹¤.

In [11]:
origin2 = load_data('icecream_sales')
origin2

[data] https://data.hossam.kr/data/lab05/icecream_sales.xlsx
[desc] 'ë‹¬ì½¤ ìŠ¤ì¿±' ì•„ì´ìŠ¤í¬ë¦¼ ê°€ê²Œì˜ ë§¤ì¶œ ë°ì´í„° (ì¸ë±ìŠ¤ ì—†ìŒ)

field     description
--------  -------------
Date      íŒë§¤ ë‚ ì§œ
Flavor    ì•„ì´ìŠ¤í¬ë¦¼ ë§›
Topping   ì¶”ê°€ëœ í† í•‘
Price     ê°œë‹¹ ê°€ê²©
Quantity  íŒë§¤ ìˆ˜ëŸ‰

         Date Flavor Topping  Price  Quantity
0  2023-07-01    ì´ˆì½œë¦¿     ì•„ëª¬ë“œ   3500      20.0
1  2023-07-01    ë°”ë‹ë¼    ì´ˆì½”ì‹œëŸ½   3000      25.0
2  2023-07-01     ë”¸ê¸°      ì—°ìœ    3200      18.0
3  2023-07-02   ë¯¼íŠ¸ì´ˆì½”     ì´ˆì½”ì¹©   3800      15.0
4  2023-07-02    ì´ˆì½œë¦¿     ì•„ëª¬ë“œ   3500      22.0
5  2023-07-02    ë°”ë‹ë¼     NaN   3000      30.0
6  2023-07-03     ë”¸ê¸°      ì—°ìœ    3200      25.0
7  2023-07-03   ë¯¼íŠ¸ì´ˆì½”     ì´ˆì½”ì¹©   3800       NaN
8  2023-07-03    ë°”ë‹ë¼    ì´ˆì½”ì‹œëŸ½   3000      28.0
9  2023-07-04    ì´ˆì½œë¦¿     ì•„ëª¬ë“œ   3500      18.0
10 2023-07-04     ë”¸ê¸°      ì—°ìœ    3200      22.0
11 2023-07-04   ë¯¼íŠ¸ì´ˆì½”     ì´ˆì½”ì¹©   3800      17.0

In [30]:
origin2.info()
origin2.head()
origin2.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      12 non-null     datetime64[ns]
 1   Flavor    12 non-null     object
 2   Topping   11 non-null     object
 3   Price     12 non-null     int64
 4   Quantity  11 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 612.0+ bytes

Date        0
Flavor      0
Topping     1
Price       0
Quantity    1
dtype: int64

In [27]:
#clean = origin2.dropna(subset=['Quantity'])
clean = origin2.query("Quantity == Quantity")
clean

         Date Flavor Topping  Price  Quantity
0  2023-07-01    ì´ˆì½œë¦¿     ì•„ëª¬ë“œ   3500      20.0
1  2023-07-01    ë°”ë‹ë¼    ì´ˆì½”ì‹œëŸ½   3000      25.0
2  2023-07-01     ë”¸ê¸°      ì—°ìœ    3200      18.0
3  2023-07-02   ë¯¼íŠ¸ì´ˆì½”     ì´ˆì½”ì¹©   3800      15.0
4  2023-07-02    ì´ˆì½œë¦¿     ì•„ëª¬ë“œ   3500      22.0
5  2023-07-02    ë°”ë‹ë¼     NaN   3000      30.0
6  2023-07-03     ë”¸ê¸°      ì—°ìœ    3200      25.0
8  2023-07-03    ë°”ë‹ë¼    ì´ˆì½”ì‹œëŸ½   3000      28.0
9  2023-07-04    ì´ˆì½œë¦¿     ì•„ëª¬ë“œ   3500      18.0
10 2023-07-04     ë”¸ê¸°      ì—°ìœ    3200      22.0
11 2023-07-04   ë¯¼íŠ¸ì´ˆì½”     ì´ˆì½”ì¹©   3800      17.0

In [34]:
pv2 = pivot_table(clean,
                    index='Date',
                    columns='Flavor',
                    values='Quantity',
                    #aggfunc='sum'
                    )
pv2

Flavor        ë”¸ê¸°  ë¯¼íŠ¸ì´ˆì½”   ë°”ë‹ë¼   ì´ˆì½œë¦¿
Date
2023-07-01  18.0   NaN  25.0  20.0
2023-07-02   NaN  15.0  30.0  22.0
2023-07-03  25.0   NaN  28.0   NaN
2023-07-04  22.0  17.0   NaN  18.0

In [38]:
long_df = pv2.reset_index().melt(id_vars='Date',
                                #value_vars=['ë”¸ê¸°','ë¯¼íŠ¸ì´ˆì½”','ë°”ë‹ë¼','ì´ˆì½œë¦¿'],
                                var_name='Flavor',
                                value_name='Quantity')
long_df

         Date Flavor  Quantity
0  2023-07-01     ë”¸ê¸°      18.0
1  2023-07-02     ë”¸ê¸°       NaN
2  2023-07-03     ë”¸ê¸°      25.0
3  2023-07-04     ë”¸ê¸°      22.0
4  2023-07-01   ë¯¼íŠ¸ì´ˆì½”       NaN
5  2023-07-02   ë¯¼íŠ¸ì´ˆì½”      15.0
6  2023-07-03   ë¯¼íŠ¸ì´ˆì½”       NaN
7  2023-07-04   ë¯¼íŠ¸ì´ˆì½”      17.0
8  2023-07-01    ë°”ë‹ë¼      25.0
9  2023-07-02    ë°”ë‹ë¼      30.0
10 2023-07-03    ë°”ë‹ë¼      28.0
11 2023-07-04    ë°”ë‹ë¼       NaN
12 2023-07-01    ì´ˆì½œë¦¿      20.0
13 2023-07-02    ì´ˆì½œë¦¿      22.0
14 2023-07-03    ì´ˆì½œë¦¿       NaN
15 2023-07-04    ì´ˆì½œë¦¿      18.0

#### ê²Œì„ í† ë„ˆë¨¼íŠ¸ ìµœê³  ë“ì ìë¥¼ ì°¾ì•„ë¼!

ğ‘”ğ‘ğ‘šğ‘’_ğ‘ ğ‘ğ‘œğ‘Ÿğ‘’ğ‘  ë°ì´í„° ì…‹ì€ ìµœê·¼ ì—´ë¦° ê²Œì„ í† ë„ˆë¨¼íŠ¸ì˜ ê²½ê¸° ê²°ê³¼ ë°ì´í„°ì´ë‹¤.
â— ë°ì´í„°ëŠ” ì„ ìˆ˜ ì´ë¦„(`ğ‘ğ‘™ğ‘ğ‘¦ğ‘’ğ‘Ÿ`)ê³¼ ê° ìŠ¤í…Œì´ì§€(`ğ‘ ğ‘¡ğ‘ğ‘”ğ‘’1`,`ğ‘ ğ‘¡ğ‘ğ‘”ğ‘’2`,`ğ‘ ğ‘¡ğ‘ğ‘”ğ‘’3`)ì ìˆ˜ë¡œ êµ¬ì„±ë˜ì–´ ìˆìŠµ
ë‹ˆë‹¤.
â— ì¼ë¶€ ì„ ìˆ˜ëŠ” íŠ¹ì • ìŠ¤í…Œì´ì§€ì— ì°¸ì—¬í•˜ì§€ ì•Šì•„ ì ìˆ˜ê°€ ë¹„ì–´ìˆì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
â— ëª¨ë“  ìŠ¤í…Œì´ì§€ì— ì°¸ì—¬í•œ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ,í‰ê·  ì ìˆ˜ê°€ ê°€ì¥ ë†’ì€ "ìµœê³ ì˜ ì„ ìˆ˜"ë¥¼ ì°¾ì•„ë‚´ê³ ,ê·¸ ì„ ìˆ˜ì˜ í‰ê· 
ì ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.
32
ê²Œì„ í† ë„ˆë¨¼íŠ¸ ìµœê³  ë“ì ìë¥¼ ì°¾ì•„ë¼!
1. ê° ìŠ¤í…Œì´ì§€ ì ìˆ˜ê°€ ì—´ë¡œ êµ¬ì„±ëœ ë°ì´í„°ë¥¼,
ì„ ìˆ˜ì™€ ìŠ¤í…Œì´ì§€ ë ˆë²¨ì— ë”°ë¥¸ ì ìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ”
í˜•íƒœë¡œ ì¬êµ¬ì¡°í™”í•˜ì„¸ìš”.
2. ìŠ¤í…Œì´ì§€ì— ëª¨ë‘ ì°¸ì—¬í•œ ì„ ìˆ˜ë§Œì„ ëŒ€ìƒìœ¼ë¡œ ë¶„ì„í•˜ì„¸ìš”.
(ê²°ì¸¡ì¹˜ê°€ ì—†ëŠ” ì„ ìˆ˜)
3. ì„ ìˆ˜ë³„ í‰ê·  ì ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

In [42]:
origin = load_data('game_scores')
origin

[data] https://data.hossam.kr/data/lab05/game_scores.xlsx
[desc] ìµœê·¼ ì—´ë¦° ê²Œì„ í† ë„ˆë¨¼íŠ¸ ê²½ê¸° ê²°ê³¼ ë°ì´í„° (ì¸ë±ìŠ¤ì™€ ë©”íƒ€ë°ì´í„° ì—†ìŒ)
[!] Cannot read metadata

    player  stage1  stage2  stage3
0    Alice      85    92.0    88.0
1      Bob      78     NaN    95.0
2  Charlie      90    88.0    91.0
3    David      82    85.0     NaN
4      Eva      95    98.0    99.0

In [43]:
st1 = origin.stack()
st1

0  player      Alice
   stage1         85
   stage2       92.0
   stage3       88.0
1  player        Bob
   stage1         78
   stage3       95.0
2  player    Charlie
   stage1         90
   stage2       88.0
   stage3       91.0
3  player      David
   stage1         82
   stage2       85.0
4  player        Eva
   stage1         95
   stage2       98.0
   stage3       99.0
dtype: object

In [44]:
st2 = DataFrame(st1)
st2

                0
0 player    Alice
  stage1       85
  stage2     92.0
  stage3     88.0
1 player      Bob
  stage1       78
  stage3     95.0
2 player  Charlie
  stage1       90
  stage2     88.0
  stage3     91.0
3 player    David
  stage1       82
  stage2     85.0
4 player      Eva
  stage1       95
  stage2     98.0
  stage3     99.0

In [47]:
ëª¨ë‘ì°¸ì—¬ = origin.query(
    "stage1 == stage1 and stage2 == stage2 and stage3 == stage3"
)
ëª¨ë‘ì°¸ì—¬

    player  stage1  stage2  stage3
0    Alice      85    92.0    88.0
2  Charlie      90    88.0    91.0
4      Eva      95    98.0    99.0

In [48]:
ìµœì¢… = ëª¨ë‘ì°¸ì—¬.stack()
ìµœì¢…

0  player      Alice
   stage1         85
   stage2       92.0
   stage3       88.0
2  player    Charlie
   stage1         90
   stage2       88.0
   stage3       91.0
4  player        Eva
   stage1         95
   stage2       98.0
   stage3       99.0
dtype: object

In [49]:
df2 = DataFrame(ìµœì¢…)
df2

                0
0 player    Alice
  stage1       85
  stage2     92.0
  stage3     88.0
2 player  Charlie
  stage1       90
  stage2     88.0
  stage3     91.0
4 player      Eva
  stage1       95
  stage2     98.0
  stage3     99.0

In [67]:
df3 = df2.reset_index()
df3

    level_0 level_1        0
0         0  player    Alice
1         0  stage1       85
2         0  stage2     92.0
3         0  stage3     88.0
4         2  player  Charlie
5         2  stage1       90
6         2  stage2     88.0
7         2  stage3     91.0
8         4  player      Eva
9         4  stage1       95
10        4  stage2     98.0
11        4  stage3     99.0

In [68]:
df4 = df3.filter(['player',0]).groupby('player').mean()
df4

KeyError: 'player'

#### ì •ë‹µ

In [70]:
df1 = origin.dropna()
df2 = df1.set_index('player')
df3 = DataFrame(df2.stack())
df4 = df3.reset_index()
df4.filter(['player',0]).groupby('player').mean()

                 0
player
Alice    88.333333
Charlie  89.666667
Eva      97.333333

#### ğŸš€ ìš°ìˆ˜ ê³ ê°ì„ ì°¾ì•„ë¼! - ì˜ì—… ë°ì´í„° ë¶„ì„ ì±Œë¦°ì§€

í•œ ì˜¨ë¼ì¸ ì‡¼í•‘ëª°ì˜ ë§ˆì¼€íŒ…íŒ€ì€ ì—°ë§ì„ ë§ì•„ ìš°ìˆ˜ ê³ ê°ì—ê²Œ ê°ì‚¬ì˜ ì„ ë¬¼ì„ ë³´ë‚´ê¸°ë¡œ í–ˆìŠµë‹ˆë‹¤.
â— íŒ€ì€ ìµœê·¼ì˜ ì£¼ë¬¸ ë°ì´í„°ì¸ ğ‘œğ‘›ğ‘™ğ‘–ğ‘›ğ‘’_ğ‘ â„ğ‘œğ‘_ğ‘ ğ‘ğ‘™ğ‘’ğ‘ ë¥¼ ê°€ì§€ê³  ìˆì§€ë§Œ,ì–´ë–¤ ê³ ê°ì´ ê°€ì¥ ë§ì€ ê¸ˆì•¡ì„ ì§€ì¶œí–ˆëŠ”
ì§€ í•œëˆˆì— íŒŒì•…í•˜ê¸° ì–´ë µìŠµë‹ˆë‹¤.
â— ì—¬ëŸ¬ë¶„ì€ ë°ì´í„° ë¶„ì„ê°€ê°€ ë˜ì–´ ë§ˆì¼€íŒ…íŒ€ì˜ ì˜ì‚¬ê²°ì •ì„ ë„ì™€ì•¼ í•©ë‹ˆë‹¤.ì œê³µëœ ë°ì´í„°ë¥¼ ë¶„ì„í•˜ì—¬ ê°€ì¥ ê°€
ì¹˜ ìˆëŠ” ê³ ê°ì„ ì°¾ì•„ì£¼ì„¸ìš”!
52
ğŸš€ ìš°ìˆ˜ ê³ ê°ì„ ì°¾ì•„ë¼! - ì˜ì—… ë°ì´í„° ë¶„ì„ ì±Œë¦°ì§€
1. 1.ê° ê³ ê°(`ğ‘ˆğ‘ ğ‘’ğ‘Ÿğ¼ğ·`)ë³„ì´ êµ¬ë§¤ ê¸ˆì•¡(ğ‘‡ğ‘œğ‘¡ğ‘ğ‘™)ì„ ê³„ì‚°í•˜ì„¸ìš”.
â€¢ ì´ êµ¬ë§¤ ê¸ˆì•¡ì€ ê°œë³„ ì£¼ë¬¸ì˜ `ğ‘ƒğ‘Ÿğ‘–ğ‘ğ‘’`ì™€ `ğ‘„ğ‘¢ğ‘ğ‘›ğ‘¡ğ‘–ğ‘¡ğ‘¦`ë¥¼ ê³±í•œ ê°’ë“¤ì˜ ì´í•©ì…ë‹ˆë‹¤.
2. ì´ êµ¬ë§¤ ê¸ˆì•¡ì´ ê°€ì¥ ë†’ì€ ìƒìœ„ 2ëª…ì˜ ê³ ê°ì„ ì°¾ì•„,`ğ‘ˆğ‘ ğ‘’ğ‘Ÿğ¼ğ·`ì™€ `ì´ êµ¬ë§¤ ê¸ˆì•¡`ì„ ì¶œë ¥í•˜ì„¸ìš”.
3. ìµœì¢… ê²°ê³¼ëŠ” ì´ êµ¬ë§¤ ê¸ˆì•¡ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì œì‹œí•˜ì„¸ìš”

In [2]:
df = load_data('online_shop_sales')
df

[data] https://data.hossam.kr/data/lab05/online_shop_sales.xlsx
[desc] ìš°ìˆ˜ ê³ ê°ì„ ì°¾ì•„ë¼! - ì˜ì—… ë°ì´í„° ë¶„ì„ ì±Œë¦°ì§€

field      description
---------  ----------------
OrderID    ì£¼ë¬¸ë²ˆí˜¸(ì¸ë±ìŠ¤)
UserID     ê³ ê°ì•„ì´ë””
Product    ìƒí’ˆ
Price      ê°€ê²©
Quantity   ì£¼ë¬¸ìˆ˜ëŸ‰
OrderDate  ì£¼ë¬¸ì¼

         UserID          Product  Price  Quantity  OrderDate
OrderID
1          1001           Laptop   1200         1 2024-10-01
2          1002            Mouse     25         2 2024-10-01
3          1001         Keyboard     75         1 2024-10-02
4          1003          Monitor    300         1 2024-10-03
5          1002           Webcam     50         1 2024-10-04
6          1003       HDMI Cable     15         3 2024-10-05
7          1001          USB Hub     30         2 2024-10-06
8          1004           Laptop   1300         1 2024-10-07
9          1002            Mouse     25         1 2024-10-08
10         1003          Monitor    300         2 2024-10-09
11         1001     External SSD    150         1 2024-10-10
12         1004  Docking Station    250         1 2024-10-11
13         1002         Keyboard     80         1 2024-10-12
14         1003           Webcam     55         1 2024-10-13
15         1001            Mouse     28         1 2024-10-14

In [4]:
df2 = df.copy()
df2['total'] = df2['Price'] * df2['Quantity']
df2

         UserID          Product  Price  Quantity  OrderDate  total
OrderID
1          1001           Laptop   1200         1 2024-10-01   1200
2          1002            Mouse     25         2 2024-10-01     50
3          1001         Keyboard     75         1 2024-10-02     75
4          1003          Monitor    300         1 2024-10-03    300
5          1002           Webcam     50         1 2024-10-04     50
6          1003       HDMI Cable     15         3 2024-10-05     45
7          1001          USB Hub     30         2 2024-10-06     60
8          1004           Laptop   1300         1 2024-10-07   1300
9          1002            Mouse     25         1 2024-10-08     25
10         1003          Monitor    300         2 2024-10-09    600
11         1001     External SSD    150         1 2024-10-10    150
12         1004  Docking Station    250         1 2024-10-11    250
13         1002         Keyboard     80         1 2024-10-12     80
14         1003           Webcam     55         1 2024-10-13     55
15         1001            Mouse     28         1 2024-10-14     28

In [13]:
df3 = df2.filter(['UserID','total']).groupby('UserID').sum()
df3

        total
UserID
1001     1513
1002      205
1003     1000
1004     1550

In [14]:
df4 = df3.sort_values(by='total', ascending=False)
df4.head(2)

        total
UserID
1004     1550
1001     1513