1/2.í•™ìƒ í¡ì—°ìœ¨ ë°ì´í„° ì „ì²˜ë¦¬

ğ‘ ğ‘¡ğ‘¢ğ‘‘ğ‘’ğ‘›ğ‘¡ğ‘ _ğ‘ ğ‘šğ‘œğ‘˜ğ‘’ ë°ì´í„° ì…‹ì€ í•œ ë„ì‹œì˜ 20ê°œ ì¤‘,ê³ êµë¥¼ ëŒ€ìƒìœ¼ë¡œ ì¡°ì‚¬í•œ í¡ì—°ìœ¨ ìë£Œì´ë‹¤.
ë„ì‹œì™€ ë†ì´Œë³„ì— ë”°ë¥¸ ë‚¨ì—¬ í‰ê·  í¡ì—°ìœ¨ì„ í™•ì¸í•  ìˆ˜ ìˆëŠ” ë°ì´í„° í”¼ë²—í…Œì´ë¸”ë¡œ êµ¬ì„±í•˜ì‹œì˜¤.

In [1]:
from hossam import load_data
from pandas import pivot_table, melt ,DataFrame
import numpy as np

In [2]:
origin = load_data('students_smoke')
origin

[data] https://data.hossam.kr/data/lab05/students_smoke.xlsx
[desc] í•œ ë„ì‹œì˜ 20ê°œ ì¤‘,ê³ êµë¥¼ ëŒ€ìƒìœ¼ë¡œ ì¡°ì‚¬í•œ í¡ì—°ìœ¨ ìë£Œ (ì¸ë±ìŠ¤ì™€ ë©”íƒ€ë°ì´í„° ì—†ìŒ)
[!] Cannot read metadata

    ì§€ì—­  êµ¬ì„±   í¡ì—°ìœ¨
0   ë„ì‹œ   ë‚¨  0.64
1   ë„ì‹œ   ì—¬  0.45
2   ë†ì´Œ  ê³µí•™  0.70
3   ë„ì‹œ   ë‚¨  0.85
4   ë†ì´Œ   ë‚¨  0.72
5   ë„ì‹œ   ë‚¨  0.78
6   ë„ì‹œ   ì—¬  0.62
7   ë„ì‹œ   ë‚¨  0.79
8   ë†ì´Œ   ë‚¨  0.75
9   ë†ì´Œ  ê³µí•™  0.81
10  ë†ì´Œ   ì—¬  0.56
11  ë„ì‹œ   ì—¬  0.48
12  ë†ì´Œ   ë‚¨  0.72
13  ë„ì‹œ  ê³µí•™  0.68
14  ë†ì´Œ   ë‚¨  0.79
15  ë„ì‹œ   ë‚¨  0.90
16  ë†ì´Œ   ì—¬  0.34
17  ë„ì‹œ   ì—¬  0.48
18  ë†ì´Œ   ì—¬  0.49
19  ë†ì´Œ  ê³µí•™  0.76

In [29]:
#ì„±ë³„ = origin.query("êµ¬ì„± in ['ë‚¨', 'ì—¬']")

pv = pivot_table(origin,
                    index='ì§€ì—­',
                    columns='êµ¬ì„±',
                    values='í¡ì—°ìœ¨',
                    aggfunc='mean')

pv

êµ¬ì„±        ê³µí•™      ë‚¨         ì—¬
ì§€ì—­
ë†ì´Œ  0.756667  0.745  0.463333
ë„ì‹œ  0.680000  0.792  0.507500

#### ë™ë„¤ ì•„ì´ìŠ¤í¬ë¦¼ ê°€ê²Œ ë§¤ì¶œ ë¶„ì„ ì±Œë¦°ì§€!

ë‹¹ì‹ ì€ ìµœê·¼ ë™ë„¤ì— ìƒˆë¡œ ìƒê¸´ 'ë‹¬ì½¤ ìŠ¤ì¿±'ì•„ì´ìŠ¤í¬ë¦¼ ê°€ê²Œì˜ ë°ì´í„° ë¶„ì„ì„ ì˜ë¢°ë°›ì•˜ìŠµë‹ˆë‹¤.
â— ì‚¬ì¥ë‹˜ì€ ì—¬ë¦„ ì‹œì¦Œì„ ë§ì•„ ì–´ë–¤ ë§› ì•„ì´ìŠ¤í¬ë¦¼ì´ ì¸ê¸°ê°€ ë§ì€ì§€,ë‚ ì§œë³„ íŒë§¤ ì¶”ì´ëŠ” ì–´ë–¤ì§€ ê¶ê¸ˆí•´í•˜ë©°,
íš¨ìœ¨ì ì¸ ì¬ê³  ê´€ë¦¬ë¥¼ ìœ„í•œ ë°ì´í„° ë¶„ì„ì„ ë‹¹ì‹ ì—ê²Œ ì˜ë¢°í–ˆìŠµë‹ˆë‹¤.
â— ë‹¹ì‹ ì—ê²Œ ì£¼ì–´ì§„ ğ‘–ğ‘ğ‘’ğ‘ğ‘Ÿğ‘’ğ‘ğ‘š_ğ‘ ğ‘ğ‘™ğ‘’ğ‘  ë°ì´í„°ì…‹ì„ ì‚¬ìš©í•˜ì—¬ ë‹¤ìŒì˜ ì˜ë¢°ë¥¼ ì™„ìˆ˜í•˜ì„¸ìš”.
18
2/2.ë™ë„¤ ì•„ì´ìŠ¤í¬ë¦¼ ê°€ê²Œ ë§¤ì¶œ ë¶„ì„ ì±Œë¦°ì§€!

1. ë°ì´í„°ì˜ ì „ì²´ì ì¸ êµ¬ì¡°ì™€ ì •ë³´ë¥¼ í™•ì¸í•˜ê³ ,íŒë§¤ ìˆ˜ëŸ‰ì— ê²°ì¸¡ì¹˜ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ì„¸ìš”.
ë§Œì•½ ê²°ì¸¡ì¹˜ê°€ ìˆë‹¤ë©´,í•´ë‹¹ í–‰ì„ ì œê±°í•˜ì„¸ìš”.
2. íŒë§¤ ë‚ ì§œë¥¼ ì¸ë±ìŠ¤ë¡œ,ì•„ì´ìŠ¤í¬ë¦¼ ë§›ì„ ì»¬ëŸ¼ìœ¼ë¡œ í•˜ì—¬ ê° ë§›ì˜ ì¼ë³„ íŒë§¤ëŸ‰ì„ ë³´ì—¬ì£¼ëŠ” í”¼ë²— í…Œì´ë¸”ì„
ë§Œë“œì„¸ìš”.
3. ì‚¬ì¥ë‹˜ì´ ë‹¤ë¥¸ ë¶„ì„ íˆ´ì—ì„œ ì‚¬ìš©í•˜ê³  ì‹¶ë‹¤ë©°,ìœ„ì—ì„œ ë§Œë“  í”¼ë²— í…Œì´ë¸”ì„ ë‹¤ì‹œ ê¸´ í˜•ì‹(Longformat)ì˜
ë°ì´í„°ë¡œ ë¶„ë¦¬í•´ ë‹¬ë¼êµ ìš”ì²­í–ˆìŠµë‹ˆë‹¤.ì»¬ëŸ¼ ì´ë¦„ì€ ì›ë³¸ ì´ë¦„ì„ ê·¸ëŒ€ë¡œ ìœ ì§€í•´ì•¼ í•©ë‹ˆë‹¤.

In [11]:
origin2 = load_data('icecream_sales')
origin2

[data] https://data.hossam.kr/data/lab05/icecream_sales.xlsx
[desc] 'ë‹¬ì½¤ ìŠ¤ì¿±' ì•„ì´ìŠ¤í¬ë¦¼ ê°€ê²Œì˜ ë§¤ì¶œ ë°ì´í„° (ì¸ë±ìŠ¤ ì—†ìŒ)

field     description
--------  -------------
Date      íŒë§¤ ë‚ ì§œ
Flavor    ì•„ì´ìŠ¤í¬ë¦¼ ë§›
Topping   ì¶”ê°€ëœ í† í•‘
Price     ê°œë‹¹ ê°€ê²©
Quantity  íŒë§¤ ìˆ˜ëŸ‰

         Date Flavor Topping  Price  Quantity
0  2023-07-01    ì´ˆì½œë¦¿     ì•„ëª¬ë“œ   3500      20.0
1  2023-07-01    ë°”ë‹ë¼    ì´ˆì½”ì‹œëŸ½   3000      25.0
2  2023-07-01     ë”¸ê¸°      ì—°ìœ    3200      18.0
3  2023-07-02   ë¯¼íŠ¸ì´ˆì½”     ì´ˆì½”ì¹©   3800      15.0
4  2023-07-02    ì´ˆì½œë¦¿     ì•„ëª¬ë“œ   3500      22.0
5  2023-07-02    ë°”ë‹ë¼     NaN   3000      30.0
6  2023-07-03     ë”¸ê¸°      ì—°ìœ    3200      25.0
7  2023-07-03   ë¯¼íŠ¸ì´ˆì½”     ì´ˆì½”ì¹©   3800       NaN
8  2023-07-03    ë°”ë‹ë¼    ì´ˆì½”ì‹œëŸ½   3000      28.0
9  2023-07-04    ì´ˆì½œë¦¿     ì•„ëª¬ë“œ   3500      18.0
10 2023-07-04     ë”¸ê¸°      ì—°ìœ    3200      22.0
11 2023-07-04   ë¯¼íŠ¸ì´ˆì½”     ì´ˆì½”ì¹©   3800      17.0

In [30]:
origin2.info()
origin2.head()
origin2.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      12 non-null     datetime64[ns]
 1   Flavor    12 non-null     object
 2   Topping   11 non-null     object
 3   Price     12 non-null     int64
 4   Quantity  11 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 612.0+ bytes

Date        0
Flavor      0
Topping     1
Price       0
Quantity    1
dtype: int64

In [27]:
#clean = origin2.dropna(subset=['Quantity'])
clean = origin2.query("Quantity == Quantity")
clean

         Date Flavor Topping  Price  Quantity
0  2023-07-01    ì´ˆì½œë¦¿     ì•„ëª¬ë“œ   3500      20.0
1  2023-07-01    ë°”ë‹ë¼    ì´ˆì½”ì‹œëŸ½   3000      25.0
2  2023-07-01     ë”¸ê¸°      ì—°ìœ    3200      18.0
3  2023-07-02   ë¯¼íŠ¸ì´ˆì½”     ì´ˆì½”ì¹©   3800      15.0
4  2023-07-02    ì´ˆì½œë¦¿     ì•„ëª¬ë“œ   3500      22.0
5  2023-07-02    ë°”ë‹ë¼     NaN   3000      30.0
6  2023-07-03     ë”¸ê¸°      ì—°ìœ    3200      25.0
8  2023-07-03    ë°”ë‹ë¼    ì´ˆì½”ì‹œëŸ½   3000      28.0
9  2023-07-04    ì´ˆì½œë¦¿     ì•„ëª¬ë“œ   3500      18.0
10 2023-07-04     ë”¸ê¸°      ì—°ìœ    3200      22.0
11 2023-07-04   ë¯¼íŠ¸ì´ˆì½”     ì´ˆì½”ì¹©   3800      17.0

In [34]:
pv2 = pivot_table(clean,
                    index='Date',
                    columns='Flavor',
                    values='Quantity',
                    #aggfunc='sum'
                    )
pv2

Flavor        ë”¸ê¸°  ë¯¼íŠ¸ì´ˆì½”   ë°”ë‹ë¼   ì´ˆì½œë¦¿
Date
2023-07-01  18.0   NaN  25.0  20.0
2023-07-02   NaN  15.0  30.0  22.0
2023-07-03  25.0   NaN  28.0   NaN
2023-07-04  22.0  17.0   NaN  18.0

In [38]:
long_df = pv2.reset_index().melt(id_vars='Date',
                                #value_vars=['ë”¸ê¸°','ë¯¼íŠ¸ì´ˆì½”','ë°”ë‹ë¼','ì´ˆì½œë¦¿'],
                                var_name='Flavor',
                                value_name='Quantity')
long_df

         Date Flavor  Quantity
0  2023-07-01     ë”¸ê¸°      18.0
1  2023-07-02     ë”¸ê¸°       NaN
2  2023-07-03     ë”¸ê¸°      25.0
3  2023-07-04     ë”¸ê¸°      22.0
4  2023-07-01   ë¯¼íŠ¸ì´ˆì½”       NaN
5  2023-07-02   ë¯¼íŠ¸ì´ˆì½”      15.0
6  2023-07-03   ë¯¼íŠ¸ì´ˆì½”       NaN
7  2023-07-04   ë¯¼íŠ¸ì´ˆì½”      17.0
8  2023-07-01    ë°”ë‹ë¼      25.0
9  2023-07-02    ë°”ë‹ë¼      30.0
10 2023-07-03    ë°”ë‹ë¼      28.0
11 2023-07-04    ë°”ë‹ë¼       NaN
12 2023-07-01    ì´ˆì½œë¦¿      20.0
13 2023-07-02    ì´ˆì½œë¦¿      22.0
14 2023-07-03    ì´ˆì½œë¦¿       NaN
15 2023-07-04    ì´ˆì½œë¦¿      18.0

#### ê²Œì„ í† ë„ˆë¨¼íŠ¸ ìµœê³  ë“ì ìë¥¼ ì°¾ì•„ë¼!

ğ‘”ğ‘ğ‘šğ‘’_ğ‘ ğ‘ğ‘œğ‘Ÿğ‘’ğ‘  ë°ì´í„° ì…‹ì€ ìµœê·¼ ì—´ë¦° ê²Œì„ í† ë„ˆë¨¼íŠ¸ì˜ ê²½ê¸° ê²°ê³¼ ë°ì´í„°ì´ë‹¤.
â— ë°ì´í„°ëŠ” ì„ ìˆ˜ ì´ë¦„(`ğ‘ğ‘™ğ‘ğ‘¦ğ‘’ğ‘Ÿ`)ê³¼ ê° ìŠ¤í…Œì´ì§€(`ğ‘ ğ‘¡ğ‘ğ‘”ğ‘’1`,`ğ‘ ğ‘¡ğ‘ğ‘”ğ‘’2`,`ğ‘ ğ‘¡ğ‘ğ‘”ğ‘’3`)ì ìˆ˜ë¡œ êµ¬ì„±ë˜ì–´ ìˆìŠµ
ë‹ˆë‹¤.
â— ì¼ë¶€ ì„ ìˆ˜ëŠ” íŠ¹ì • ìŠ¤í…Œì´ì§€ì— ì°¸ì—¬í•˜ì§€ ì•Šì•„ ì ìˆ˜ê°€ ë¹„ì–´ìˆì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
â— ëª¨ë“  ìŠ¤í…Œì´ì§€ì— ì°¸ì—¬í•œ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ,í‰ê·  ì ìˆ˜ê°€ ê°€ì¥ ë†’ì€ "ìµœê³ ì˜ ì„ ìˆ˜"ë¥¼ ì°¾ì•„ë‚´ê³ ,ê·¸ ì„ ìˆ˜ì˜ í‰ê· 
ì ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.
32
ê²Œì„ í† ë„ˆë¨¼íŠ¸ ìµœê³  ë“ì ìë¥¼ ì°¾ì•„ë¼!
1. ê° ìŠ¤í…Œì´ì§€ ì ìˆ˜ê°€ ì—´ë¡œ êµ¬ì„±ëœ ë°ì´í„°ë¥¼,
ì„ ìˆ˜ì™€ ìŠ¤í…Œì´ì§€ ë ˆë²¨ì— ë”°ë¥¸ ì ìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ”
í˜•íƒœë¡œ ì¬êµ¬ì¡°í™”í•˜ì„¸ìš”.
2. ìŠ¤í…Œì´ì§€ì— ëª¨ë‘ ì°¸ì—¬í•œ ì„ ìˆ˜ë§Œì„ ëŒ€ìƒìœ¼ë¡œ ë¶„ì„í•˜ì„¸ìš”.
(ê²°ì¸¡ì¹˜ê°€ ì—†ëŠ” ì„ ìˆ˜)
3. ì„ ìˆ˜ë³„ í‰ê·  ì ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

In [42]:
origin = load_data('game_scores')
origin

[data] https://data.hossam.kr/data/lab05/game_scores.xlsx
[desc] ìµœê·¼ ì—´ë¦° ê²Œì„ í† ë„ˆë¨¼íŠ¸ ê²½ê¸° ê²°ê³¼ ë°ì´í„° (ì¸ë±ìŠ¤ì™€ ë©”íƒ€ë°ì´í„° ì—†ìŒ)
[!] Cannot read metadata

    player  stage1  stage2  stage3
0    Alice      85    92.0    88.0
1      Bob      78     NaN    95.0
2  Charlie      90    88.0    91.0
3    David      82    85.0     NaN
4      Eva      95    98.0    99.0

In [43]:
st1 = origin.stack()
st1

0  player      Alice
   stage1         85
   stage2       92.0
   stage3       88.0
1  player        Bob
   stage1         78
   stage3       95.0
2  player    Charlie
   stage1         90
   stage2       88.0
   stage3       91.0
3  player      David
   stage1         82
   stage2       85.0
4  player        Eva
   stage1         95
   stage2       98.0
   stage3       99.0
dtype: object

In [44]:
st2 = DataFrame(st1)
st2

                0
0 player    Alice
  stage1       85
  stage2     92.0
  stage3     88.0
1 player      Bob
  stage1       78
  stage3     95.0
2 player  Charlie
  stage1       90
  stage2     88.0
  stage3     91.0
3 player    David
  stage1       82
  stage2     85.0
4 player      Eva
  stage1       95
  stage2     98.0
  stage3     99.0

In [47]:
ëª¨ë‘ì°¸ì—¬ = origin.query(
    "stage1 == stage1 and stage2 == stage2 and stage3 == stage3"
)
ëª¨ë‘ì°¸ì—¬

    player  stage1  stage2  stage3
0    Alice      85    92.0    88.0
2  Charlie      90    88.0    91.0
4      Eva      95    98.0    99.0

In [48]:
ìµœì¢… = ëª¨ë‘ì°¸ì—¬.stack()
ìµœì¢…

0  player      Alice
   stage1         85
   stage2       92.0
   stage3       88.0
2  player    Charlie
   stage1         90
   stage2       88.0
   stage3       91.0
4  player        Eva
   stage1         95
   stage2       98.0
   stage3       99.0
dtype: object

In [49]:
df2 = DataFrame(ìµœì¢…)
df2

                0
0 player    Alice
  stage1       85
  stage2     92.0
  stage3     88.0
2 player  Charlie
  stage1       90
  stage2     88.0
  stage3     91.0
4 player      Eva
  stage1       95
  stage2     98.0
  stage3     99.0

In [67]:
df3 = df2.reset_index()
df3

    level_0 level_1        0
0         0  player    Alice
1         0  stage1       85
2         0  stage2     92.0
3         0  stage3     88.0
4         2  player  Charlie
5         2  stage1       90
6         2  stage2     88.0
7         2  stage3     91.0
8         4  player      Eva
9         4  stage1       95
10        4  stage2     98.0
11        4  stage3     99.0

In [68]:
df4 = df3.filter(['player',0]).groupby('player').mean()
df4

KeyError: 'player'

#### ì •ë‹µ

In [70]:
df1 = origin.dropna()
df2 = df1.set_index('player')
df3 = DataFrame(df2.stack())
df4 = df3.reset_index()
df4.filter(['player',0]).groupby('player').mean()

                 0
player
Alice    88.333333
Charlie  89.666667
Eva      97.333333

#### ğŸš€ ìš°ìˆ˜ ê³ ê°ì„ ì°¾ì•„ë¼! - ì˜ì—… ë°ì´í„° ë¶„ì„ ì±Œë¦°ì§€

í•œ ì˜¨ë¼ì¸ ì‡¼í•‘ëª°ì˜ ë§ˆì¼€íŒ…íŒ€ì€ ì—°ë§ì„ ë§ì•„ ìš°ìˆ˜ ê³ ê°ì—ê²Œ ê°ì‚¬ì˜ ì„ ë¬¼ì„ ë³´ë‚´ê¸°ë¡œ í–ˆìŠµë‹ˆë‹¤.
â— íŒ€ì€ ìµœê·¼ì˜ ì£¼ë¬¸ ë°ì´í„°ì¸ ğ‘œğ‘›ğ‘™ğ‘–ğ‘›ğ‘’_ğ‘ â„ğ‘œğ‘_ğ‘ ğ‘ğ‘™ğ‘’ğ‘ ë¥¼ ê°€ì§€ê³  ìˆì§€ë§Œ,ì–´ë–¤ ê³ ê°ì´ ê°€ì¥ ë§ì€ ê¸ˆì•¡ì„ ì§€ì¶œí–ˆëŠ”
ì§€ í•œëˆˆì— íŒŒì•…í•˜ê¸° ì–´ë µìŠµë‹ˆë‹¤.
â— ì—¬ëŸ¬ë¶„ì€ ë°ì´í„° ë¶„ì„ê°€ê°€ ë˜ì–´ ë§ˆì¼€íŒ…íŒ€ì˜ ì˜ì‚¬ê²°ì •ì„ ë„ì™€ì•¼ í•©ë‹ˆë‹¤.ì œê³µëœ ë°ì´í„°ë¥¼ ë¶„ì„í•˜ì—¬ ê°€ì¥ ê°€
ì¹˜ ìˆëŠ” ê³ ê°ì„ ì°¾ì•„ì£¼ì„¸ìš”!
52
ğŸš€ ìš°ìˆ˜ ê³ ê°ì„ ì°¾ì•„ë¼! - ì˜ì—… ë°ì´í„° ë¶„ì„ ì±Œë¦°ì§€
1. 1.ê° ê³ ê°(`ğ‘ˆğ‘ ğ‘’ğ‘Ÿğ¼ğ·`)ë³„ì´ êµ¬ë§¤ ê¸ˆì•¡(ğ‘‡ğ‘œğ‘¡ğ‘ğ‘™)ì„ ê³„ì‚°í•˜ì„¸ìš”.
â€¢ ì´ êµ¬ë§¤ ê¸ˆì•¡ì€ ê°œë³„ ì£¼ë¬¸ì˜ `ğ‘ƒğ‘Ÿğ‘–ğ‘ğ‘’`ì™€ `ğ‘„ğ‘¢ğ‘ğ‘›ğ‘¡ğ‘–ğ‘¡ğ‘¦`ë¥¼ ê³±í•œ ê°’ë“¤ì˜ ì´í•©ì…ë‹ˆë‹¤.
2. ì´ êµ¬ë§¤ ê¸ˆì•¡ì´ ê°€ì¥ ë†’ì€ ìƒìœ„ 2ëª…ì˜ ê³ ê°ì„ ì°¾ì•„,`ğ‘ˆğ‘ ğ‘’ğ‘Ÿğ¼ğ·`ì™€ `ì´ êµ¬ë§¤ ê¸ˆì•¡`ì„ ì¶œë ¥í•˜ì„¸ìš”.
3. ìµœì¢… ê²°ê³¼ëŠ” ì´ êµ¬ë§¤ ê¸ˆì•¡ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì œì‹œí•˜ì„¸ìš”

In [2]:
df = load_data('online_shop_sales')
df

[data] https://data.hossam.kr/data/lab05/online_shop_sales.xlsx
[desc] ìš°ìˆ˜ ê³ ê°ì„ ì°¾ì•„ë¼! - ì˜ì—… ë°ì´í„° ë¶„ì„ ì±Œë¦°ì§€

field      description
---------  ----------------
OrderID    ì£¼ë¬¸ë²ˆí˜¸(ì¸ë±ìŠ¤)
UserID     ê³ ê°ì•„ì´ë””
Product    ìƒí’ˆ
Price      ê°€ê²©
Quantity   ì£¼ë¬¸ìˆ˜ëŸ‰
OrderDate  ì£¼ë¬¸ì¼

         UserID          Product  Price  Quantity  OrderDate
OrderID
1          1001           Laptop   1200         1 2024-10-01
2          1002            Mouse     25         2 2024-10-01
3          1001         Keyboard     75         1 2024-10-02
4          1003          Monitor    300         1 2024-10-03
5          1002           Webcam     50         1 2024-10-04
6          1003       HDMI Cable     15         3 2024-10-05
7          1001          USB Hub     30         2 2024-10-06
8          1004           Laptop   1300         1 2024-10-07
9          1002            Mouse     25         1 2024-10-08
10         1003          Monitor    300         2 2024-10-09
11         1001     External SSD    150         1 2024-10-10
12         1004  Docking Station    250         1 2024-10-11
13         1002         Keyboard     80         1 2024-10-12
14         1003           Webcam     55         1 2024-10-13
15         1001            Mouse     28         1 2024-10-14

In [4]:
df2 = df.copy()
df2['total'] = df2['Price'] * df2['Quantity']
df2

         UserID          Product  Price  Quantity  OrderDate  total
OrderID
1          1001           Laptop   1200         1 2024-10-01   1200
2          1002            Mouse     25         2 2024-10-01     50
3          1001         Keyboard     75         1 2024-10-02     75
4          1003          Monitor    300         1 2024-10-03    300
5          1002           Webcam     50         1 2024-10-04     50
6          1003       HDMI Cable     15         3 2024-10-05     45
7          1001          USB Hub     30         2 2024-10-06     60
8          1004           Laptop   1300         1 2024-10-07   1300
9          1002            Mouse     25         1 2024-10-08     25
10         1003          Monitor    300         2 2024-10-09    600
11         1001     External SSD    150         1 2024-10-10    150
12         1004  Docking Station    250         1 2024-10-11    250
13         1002         Keyboard     80         1 2024-10-12     80
14         1003           Webcam     55         1 2024-10-13     55
15         1001            Mouse     28         1 2024-10-14     28

In [13]:
df3 = df2.filter(['UserID','total']).groupby('UserID').sum()
df3

        total
UserID
1001     1513
1002      205
1003     1000
1004     1550

In [14]:
df4 = df3.sort_values(by='total', ascending=False)
df4.head(2)

        total
UserID
1004     1550
1001     1513

#### ğŸš€ ì˜¨ë¼ì¸ ìŠ¤í† ì–´ ê³ ê° í–‰ë™ ë¶„ì„

í•œ ì˜¨ë¼ì¸ ìŠ¤í† ì–´ì˜ ë§ˆì¼€íŒ… íŒ€ì´ ì—°ë§ íŠ¹ë³„ í”„ë¡œëª¨ì…˜ì„ ê¸°íší•˜ê³  ìˆìŠµë‹ˆë‹¤.
â€¢ í”„ë¡œëª¨ì…˜ì˜ íš¨ê³¼ë¥¼ ê·¹ëŒ€í™”í•˜ê¸° ìœ„í•´, ê³ ê° ë°ì´í„°ë¥¼ ë¶„ì„í•˜ì—¬ íƒ€ê²Ÿ ê³ ê°ì¸µì„ ì‹ë³„í•˜ê³ ì í•©ë‹ˆë‹¤.
â€¢ ì—¬ëŸ¬ë¶„ì€ ë°ì´í„° ë¶„ì„ê°€ë¡œì„œ ë§ˆì¼€íŒ… íŒ€ì˜ ì˜ì‚¬ê²°ì •ì„ ë•ê¸° ìœ„í•´ ê³ ê° ë°ì´í„°ë¥¼ ì „ì²˜ë¦¬í•˜ê³  ë¶„ì„ìš© ë°ì´í„° ì…‹ì„ ë§Œë“œëŠ” ì„ë¬´ë¥¼ ë§¡ì•˜ìŠµë‹ˆë‹¤.
â€¢ ì£¼ì–´ì§€ëŠ” ë°ì´í„° ì…‹
online_store_customers : ê³ ê°ì˜ ê¸°ë³¸ ì¸êµ¬ í†µê³„ ì •ë³´
O online_store purchases : ê³ ê°ì˜ êµ¬ë§¤ ê´€ë ¨ ì •ë³´
1.ë‘ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì™€ì„œ ê³ ê°IDë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©í•˜ì„¸ìš”.
2. êµ¬ë§¤ ë°ì´í„°ì˜ size' ì—´ì— ì¡´ì¬í•˜ëŠ” ê²°ì¸¡ì¹˜ëŠ” ê°€ì¥ ë¹ˆë„ê°€ ë†’ì€ ì‚¬ì´ì¦ˆë¡œ ì±„ì›Œì£¼ì„¸ìš”.
3. ì„±ë³„ì— ë”°ë¥¸ êµ¬ë§¤ íŒ¨í„´ì„ ë¶„ì„í•˜ê¸° ìœ„í•´ 'gender' ì—´ì— ëŒ€í•´ ë”ë¯¸ë³€ìˆ˜ë¥¼ ìƒì„±í•˜ì„¸ìš”.
ìƒ‰ìƒ ì„ í˜¸ë„ë¥¼ ë¶„ì„í•˜ê¸° ìœ„í•´ 'color' ì—´ì„ ì›-í•« ì¸ì½”ë”©(One-hot encoding) ë°©ì‹ìœ¼ë¡œ ë³€í™˜í•˜ì—¬ ìƒˆë¡œìš° ì˜„ë“¤ì„ ì¶”ê°€í•˜ì„¸ìš”

In [48]:
from hossam import load_data
from pandas import DataFrame, get_dummies, merge
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

In [29]:
df1 = load_data('online_store_customers')
df1.info()

[data] https://data.hossam.kr/data/lab05/online_store_customers.xlsx
[desc] í•œ ì˜¨ë¼ì¸ ìŠ¤í† ì–´ì˜ ë§ˆì¼€íŒ… íŒ€ì´ ì—°ë§ íŠ¹ë³„ í”„ë¡œëª¨ì…˜ì„ ê¸°íšì— í•„ìš”í•œ ê³ ê°ì˜ ê¸°ë³¸ ì¸êµ¬ í†µê³„ ì •ë³´(ë©”íƒ€ë°ì´í„° ì—†ìŒ)
[!] Cannot read metadata
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 1 to 10
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    10 non-null     object
 1   gender  10 non-null     object
 2   age     10 non-null     int64
dtypes: int64(1), object(2)
memory usage: 320.0+ bytes

In [21]:
df2 = load_data('online_store_purchases')
df2

[data] https://data.hossam.kr/data/lab05/online_store_purchases.xlsx
[desc] í•œ ì˜¨ë¼ì¸ ìŠ¤í† ì–´ì˜ ë§ˆì¼€íŒ… íŒ€ì´ ì—°ë§ íŠ¹ë³„ í”„ë¡œëª¨ì…˜ì„ ê¸°íšì— í•„ìš”í•œ ê³ ê°ì˜ êµ¬ë§¤ ê´€ë ¨ ì •ë³´(ë©”íƒ€ë°ì´í„° ì—†ìŒ)
[!] Cannot read metadata

             user_id  product size  color  price
purchase_id
101                1  T-shirt    M  White  15000
102                2    Pants    L  Black  35000
103                1    Skirt    S    Red  25000
104                3  T-shirt    L   Blue  17000
105                5   Jacket    M  Black  55000
106                4    Pants    M  Khaki  33000
107                6  T-shirt    S  White  16000
108                7   Jacket  NaN    Red  58000
109                8    Pants    L  Black  38000
110                9    Skirt    S   Blue  27000
111               10  T-shirt   XL  White  18000
112                5    Pants    S  Khaki  32000
113                2   Jacket    L   Navy  62000
114                7  T-shirt    M  Black  19000
115                1    Pants    S   Blue  31000

In [51]:
# ìµœë¹ˆê°’ êµ¬í•˜ê¸°
#ìµœë¹ˆ = df2['size'].mode()[0]
#df2['size'] = df2['size'].fillna(ìµœë¹ˆ)
#df2

# 1) ì‹¬í”Œì„í“¨í„° ìƒì„± â€” strategy='most_frequent' (ìµœë¹ˆê°’)
imr = SimpleImputer(strategy='most_frequent')
imr_value = imr.fit_transform(df2[['size']])
df2 = DataFrame(imr_value,index=df.index,columns=['size'])
df2

        size
OrderID
1          M
2          L
3          S
4          L
5          M
6          M
7          S
8          S
9          L
10         S
11        XL
12         S
13         L
14         M
15         S

In [32]:
#ì  ë” ì—´ì— ëŒ€í•´ì„œ ë”ë¯¸ë³€ìˆ˜ ìƒì„±
ì¹´í…Œê³ ë¦¬ = df1.astype({'gender':'category'})
ì¹´í…Œê³ ë¦¬

            name gender  age
user_id
1          Alice      F   25
2            Bob      M   30
3        Charlie      M   35
4          David      M   42
5            Eve      F   28
6          Frank      M   21
7          Grace      F   33
8          Henry      M   45
9            Ivy      F   29
10          Jack      M   38

In [35]:
df3 = get_dummies(ì¹´í…Œê³ ë¦¬,columns=['gender'],dtype='int',drop_first=True)
df3

            name  age  gender_M
user_id
1          Alice   25         0
2            Bob   30         1
3        Charlie   35         1
4          David   42         1
5            Eve   28         0
6          Frank   21         1
7          Grace   33         0
8          Henry   45         1
9            Ivy   29         0
10          Jack   38         1

In [36]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 101 to 115
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  15 non-null     int64
 1   product  15 non-null     object
 2   size     15 non-null     object
 3   color    15 non-null     object
 4   price    15 non-null     int64
dtypes: int64(2), object(3)
memory usage: 720.0+ bytes

In [38]:
ìƒ‰ìƒ = df2.astype({'color':'category'})
ìƒ‰ìƒ.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 101 to 115
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  15 non-null     int64
 1   product  15 non-null     object
 2   size     15 non-null     object
 3   color    15 non-null     category
 4   price    15 non-null     int64
dtypes: category(1), int64(2), object(2)
memory usage: 835.0+ bytes

In [41]:
x = ìƒ‰ìƒ[['color']].values.reshape(-1,1)
x

array([['White'],
       ['Black'],
       ['Red'],
       ['Blue'],
       ['Black'],
       ['Khaki'],
       ['White'],
       ['Red'],
       ['Black'],
       ['Blue'],
       ['White'],
       ['Khaki'],
       ['Navy'],
       ['Black'],
       ['Blue']], dtype=object)

In [42]:
x = ìƒ‰ìƒ[['color']]
x

             color
purchase_id
101          White
102          Black
103            Red
104           Blue
105          Black
106          Khaki
107          White
108            Red
109          Black
110           Blue
111          White
112          Khaki
113           Navy
114          Black
115           Blue

In [43]:
encoder = OneHotEncoder(sparse_output=False,drop=None)
result = encoder.fit_transform(x)
result

array([[0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.]])

In [44]:
new_cols = encoder.get_feature_names_out(['color'])
new_cols

array(['color_Black', 'color_Blue', 'color_Khaki', 'color_Navy',
       'color_Red', 'color_White'], dtype=object)

In [45]:
one_hot_df = DataFrame(result,columns=new_cols,index=ìƒ‰ìƒ.index)
one_hot_df

,color_Black,color_Blue,color_Khaki,color_Navy,color_Red,color_White
purchase_id,,,,,,
101,0.0,0.0,0.0,0.0,0.0,1.0
102,1.0,0.0,0.0,0.0,0.0,0.0
103,0.0,0.0,0.0,0.0,1.0,0.0
104,0.0,1.0,0.0,0.0,0.0,0.0
105,1.0,0.0,0.0,0.0,0.0,0.0
106,0.0,0.0,1.0,0.0,0.0,0.0
107,0.0,0.0,0.0,0.0,0.0,1.0
108,0.0,0.0,0.0,0.0,1.0,0.0
109,1.0,0.0,0.0,0.0,0.0,0.0
110,0.0,1.0,0.0,0.0,0.0,0.0
111,0.0,0.0,0.0,0.0,0.0,1.0
112,0.0,0.0,1.0,0.0,0.0,0.0
113,0.0,0.0,0.0,1.0,0.0,0.0
114,1.0,0.0,0.0,0.0,0.0,0.0
115,0.0,1.0,0.0,0.0,0.0,0.0

In [46]:
copy = ìƒ‰ìƒ.copy()
ìµœì¢… = merge(copy,one_hot_df,left_index=True,right_index=True)
ìµœì¢…

,user_id,product,size,color,price,color_Black,color_Blue,color_Khaki,color_Navy,color_Red,color_White
purchase_id,,,,,,,,,,,
101,1,T-shirt,M,White,15000,0.0,0.0,0.0,0.0,0.0,1.0
102,2,Pants,L,Black,35000,1.0,0.0,0.0,0.0,0.0,0.0
103,1,Skirt,S,Red,25000,0.0,0.0,0.0,0.0,1.0,0.0
104,3,T-shirt,L,Blue,17000,0.0,1.0,0.0,0.0,0.0,0.0
105,5,Jacket,M,Black,55000,1.0,0.0,0.0,0.0,0.0,0.0
106,4,Pants,M,Khaki,33000,0.0,0.0,1.0,0.0,0.0,0.0
107,6,T-shirt,S,White,16000,0.0,0.0,0.0,0.0,0.0,1.0
108,7,Jacket,S,Red,58000,0.0,0.0,0.0,0.0,1.0,0.0
109,8,Pants,L,Black,38000,1.0,0.0,0.0,0.0,0.0,0.0
110,9,Skirt,S,Blue,27000,0.0,1.0,0.0,0.0,0.0,0.0
111,10,T-shirt,XL,White,18000,0.0,0.0,0.0,0.0,0.0,1.0
112,5,Pants,S,Khaki,32000,0.0,0.0,1.0,0.0,0.0,0.0
113,2,Jacket,L,Navy,62000,0.0,0.0,0.0,1.0,0.0,0.0
114,7,T-shirt,M,Black,19000,1.0,0.0,0.0,0.0,0.0,0.0
115,1,Pants,S,Blue,31000,0.0,1.0,0.0,0.0,0.0,0.0

In [47]:
ìµœì¢…ë³‘í•© = merge(df3, ìµœì¢…,left_index=True,right_on='user_id')
ìµœì¢…ë³‘í•©

,name,age,gender_M,user_id,product,size,color,price,color_Black,color_Blue,color_Khaki,color_Navy,color_Red,color_White
purchase_id,,,,,,,,,,,,,,
101,Alice,25,0,1,T-shirt,M,White,15000,0.0,0.0,0.0,0.0,0.0,1.0
103,Alice,25,0,1,Skirt,S,Red,25000,0.0,0.0,0.0,0.0,1.0,0.0
115,Alice,25,0,1,Pants,S,Blue,31000,0.0,1.0,0.0,0.0,0.0,0.0
102,Bob,30,1,2,Pants,L,Black,35000,1.0,0.0,0.0,0.0,0.0,0.0
113,Bob,30,1,2,Jacket,L,Navy,62000,0.0,0.0,0.0,1.0,0.0,0.0
104,Charlie,35,1,3,T-shirt,L,Blue,17000,0.0,1.0,0.0,0.0,0.0,0.0
106,David,42,1,4,Pants,M,Khaki,33000,0.0,0.0,1.0,0.0,0.0,0.0
105,Eve,28,0,5,Jacket,M,Black,55000,1.0,0.0,0.0,0.0,0.0,0.0
112,Eve,28,0,5,Pants,S,Khaki,32000,0.0,0.0,1.0,0.0,0.0,0.0
107,Frank,21,1,6,T-shirt,S,White,16000,0.0,0.0,0.0,0.0,0.0,1.0
108,Grace,33,0,7,Jacket,S,Red,58000,0.0,0.0,0.0,0.0,1.0,0.0
114,Grace,33,0,7,T-shirt,M,Black,19000,1.0,0.0,0.0,0.0,0.0,0.0
109,Henry,45,1,8,Pants,L,Black,38000,1.0,0.0,0.0,0.0,0.0,0.0
110,Ivy,29,0,9,Skirt,S,Blue,27000,0.0,1.0,0.0,0.0,0.0,0.0
111,Jack,38,1,10,T-shirt,XL,White,18000,0.0,0.0,0.0,0.0,0.0,1.0

In [53]:
ìµœìµœì¢…ë³‘í•¨ = ìµœì¢…ë³‘í•©.drop(columns='color')
ìµœìµœì¢…ë³‘í•¨

,name,age,gender_M,user_id,product,size,price,color_Black,color_Blue,color_Khaki,color_Navy,color_Red,color_White
purchase_id,,,,,,,,,,,,,
101,Alice,25,0,1,T-shirt,M,15000,0.0,0.0,0.0,0.0,0.0,1.0
103,Alice,25,0,1,Skirt,S,25000,0.0,0.0,0.0,0.0,1.0,0.0
115,Alice,25,0,1,Pants,S,31000,0.0,1.0,0.0,0.0,0.0,0.0
102,Bob,30,1,2,Pants,L,35000,1.0,0.0,0.0,0.0,0.0,0.0
113,Bob,30,1,2,Jacket,L,62000,0.0,0.0,0.0,1.0,0.0,0.0
104,Charlie,35,1,3,T-shirt,L,17000,0.0,1.0,0.0,0.0,0.0,0.0
106,David,42,1,4,Pants,M,33000,0.0,0.0,1.0,0.0,0.0,0.0
105,Eve,28,0,5,Jacket,M,55000,1.0,0.0,0.0,0.0,0.0,0.0
112,Eve,28,0,5,Pants,S,32000,0.0,0.0,1.0,0.0,0.0,0.0
107,Frank,21,1,6,T-shirt,S,16000,0.0,0.0,0.0,0.0,0.0,1.0
108,Grace,33,0,7,Jacket,S,58000,0.0,0.0,0.0,0.0,1.0,0.0
114,Grace,33,0,7,T-shirt,M,19000,1.0,0.0,0.0,0.0,0.0,0.0
109,Henry,45,1,8,Pants,L,38000,1.0,0.0,0.0,0.0,0.0,0.0
110,Ivy,29,0,9,Skirt,S,27000,0.0,1.0,0.0,0.0,0.0,0.0
111,Jack,38,1,10,T-shirt,XL,18000,0.0,0.0,0.0,0.0,0.0,1.0

ğŸš€ ì§ì› ì„±ê³¼ ë¶„ì„ì„ ìœ„í•œ ë°ì´í„° ìŠ¤ì¼€ì¼ë§

í•œ íšŒì‚¬ì˜ ì¸ì‚¬íŒ€ì—ì„œëŠ” ì§ì›ë“¤ì˜ ì„±ê³¼ë¥¼ ê³µì •í•˜ê²Œ í‰ê°€í•˜ê³  ë¹„êµí•˜ê¸° ìœ„í•œ ì‹œìŠ¤í…œì„ êµ¬ì¶•í•˜ê³  ìˆ
ìŠµë‹ˆë‹¤.
â— ê° ì§ì›ì˜ ì„±ê³¼ ì§€í‘œ(ì˜ˆ:ì›”ë³„ ë§¤ì¶œ,ê³ ê° ë§Œì¡±ë„,í”„ë¡œì íŠ¸ íˆ¬ì… ì‹œê°„ ë“±)ëŠ” ì¸¡ì • ë‹¨ìœ„ì™€ ë²”ìœ„ê°€ ì„œë¡œ ë‹¬ë¼
ì§ì ‘ ë¹„êµí•˜ê¸° ì–´ë µìŠµë‹ˆë‹¤.ë”°ë¼ì„œ
â— ì´ëŸ¬í•œ ì§€í‘œë“¤ì„ í†µì¼ëœ ê¸°ì¤€ìœ¼ë¡œ ë³€í™˜í•˜ì—¬,ëª¨ë“  ì§ì›ì˜ ì„±ê³¼ë¥¼ í•˜ë‚˜ì˜ ì²™ë„ ìœ„ì—ì„œ ë¶„ì„í•  ìˆ˜ ìˆë„ë¡ ë°
ì´í„° ì „ì²˜ë¦¬ ì‘ì—…ì´ í•„ìš”í•©ë‹ˆë‹¤.
â— ì—¬ëŸ¬ë¶„ì€ ë°ì´í„° ë¶„ì„ê°€ë¡œì„œ ì¸ì‚¬íŒ€ì„ ë„ì™€ ë‹¤ì–‘í•œ ì„±ê³¼ ì§€í‘œë“¤ì„ ì ì ˆí•œ ìŠ¤ì¼€ì¼ë§ ê¸°ë²•ì„ ì‚¬ìš©í•˜ì—¬ í‘œì¤€
í™”í•˜ëŠ” ì‘ì—…ì„ ìˆ˜í–‰í•´ì•¼ í•©ë‹ˆë‹¤.
â˜ `ğ‘ğ‘’ğ‘Ÿğ‘“ğ‘œğ‘Ÿğ‘šğ‘ğ‘›ğ‘ğ‘’`ë°ì´í„°ì— ëŒ€í•´ ë‹¤ìŒ ìŠ¤ì¼€ì¼ë§ ê¸°ë²•ë“¤ì„ ê° ì»¬ëŸ¼ì— ì ìš©í•˜ì„¸ìš”.

1. `ğ‘€ğ‘œğ‘›ğ‘¡â„ğ‘™ğ‘¦ğ‘†ğ‘ğ‘™ğ‘’ğ‘ `ì»¬ëŸ¼ì—ëŠ” Min-MaxìŠ¤ì¼€ì¼ë§ì„ ì ìš©í•˜ì—¬ 0ê³¼ 1ì‚¬ì´ì˜ ê°’ìœ¼ë¡œ ë³€í™˜í•˜ì„¸ìš”.
2. `ğ¶ğ‘¢ğ‘ ğ‘¡ğ‘œğ‘šğ‘’ğ‘Ÿğ‘†ğ‘ğ‘¡ğ‘–ğ‘ ğ‘“ğ‘ğ‘ğ‘¡ğ‘–ğ‘œğ‘›`ì»¬ëŸ¼ì—ëŠ” MaxAbs ìŠ¤ì¼€ì¼ë§ì„ ì ìš©í•˜ì—¬ -1ê³¼ 1ì‚¬ì´ì˜ ê°’ìœ¼ë¡œ ë³€í™˜í•˜ì„¸ìš”.
3. `ğ‘ƒğ‘Ÿğ‘œğ‘—ğ‘’ğ‘ğ‘¡ğ»ğ‘œğ‘¢ğ‘Ÿğ‘ `ì™€ `ğ¼ğ‘›ğ‘›ğ‘œğ‘£ğ‘ğ‘¡ğ‘–ğ‘œğ‘›ğ‘†ğ‘ğ‘œğ‘Ÿğ‘’`ì»¬ëŸ¼ì—ëŠ” StandardìŠ¤ì¼€ì¼ë§(í‘œì¤€í™”)ì„ ì ìš©í•˜ì—¬ í‰ê· ì´ 0,
í‘œì¤€í¸ì°¨ê°€ 1ì¸ ê°’ìœ¼ë¡œ ë³€í™˜í•˜ì„¸ìš”.
4. ëª¨ë“  ìŠ¤ì¼€ì¼ë§ ê³¼ì •ì´ ëë‚œ í›„,`ğ‘€ğ‘œğ‘›ğ‘¡â„ğ‘™ğ‘¦ğ‘†ğ‘ğ‘™ğ‘’ğ‘ `(Min-MaxìŠ¤ì¼€ì¼ë§),`ğ¶ğ‘¢ğ‘ ğ‘¡ğ‘œğ‘šğ‘’ğ‘Ÿğ‘†ğ‘ğ‘¡ğ‘–ğ‘ ğ‘“ğ‘ğ‘ğ‘¡ğ‘–ğ‘œğ‘›`
(MaxAbs ìŠ¤ì¼€ì¼ë§),`ğ‘ƒğ‘Ÿğ‘œğ‘—ğ‘’ğ‘ğ‘¡ğ»ğ‘œğ‘¢ğ‘Ÿğ‘ `(StandardìŠ¤ì¼€ì¼ë§),`ğ¼ğ‘›ğ‘›ğ‘œğ‘£ğ‘ğ‘¡ğ‘–ğ‘œğ‘›ğ‘†ğ‘ğ‘œğ‘Ÿğ‘’`(Stan

In [64]:
from hossam import load_data
from sklearn.preprocessing import MinMaxScaler, MaxAbsScaler, StandardScaler, RobustScaler
from pandas import concat

In [56]:
origin = load_data('performance')
origin

[data] https://data.hossam.kr/data/lab05/performance.xlsx
[desc] ì§ì› ì„±ê³¼ ì§€í‘œ ë°ì´í„°

field                 description
--------------------  -----------------
EmployeeID            ì§ì› ID
MonthlySales          ì›”ë³„ ë§¤ì¶œ
CustomerSatisfaction  ê³ ê° ë§Œì¡±ë„
ProjectHours          í”„ë¡œì íŠ¸ ì‘ì—…ì‹œê°„
InnovationScore       í˜ì‹  ì ìˆ˜

            MonthlySales  CustomerSatisfaction  ProjectHours  InnovationScore
EmployeeID
E001                 120                    75           160                8
E002                 250                    90           180                9
E003                  80                    60           150                6
E004                 180                    82           170                8
E005                 300                    95           190               10
E006                  90                    65           155                7
E007                 200                    88           175                9
E008                 110                    70           165                7
E009                 220                    85           185                9
E010                  70                    55           145                6
E011                 130                    78           162                8
E012                 280                    92           188               10
E013                  60                    50           140                5
E014                 190                    80           172                8
E015                 260                    91           183                9
E016                 100                    68           158                7
E017                 170                    83           168                8
E018                 320                    98           195               10
E019                  50                    45           135                5
E020                 240                    89           178                9

In [60]:
minmax_df = origin.copy()
x = minmax_df[['MonthlySales']]

scaler = MinMaxScaler()
minmax_df['minmax'] = scaler.fit_transform(x)
minmax_df.head()

,MonthlySales,CustomerSatisfaction,ProjectHours,InnovationScore,minmax
EmployeeID,,,,,
E001,120,75,160,8,0.259259
E002,250,90,180,9,0.740741
E003,80,60,150,6,0.111111
E004,180,82,170,8,0.481481
E005,300,95,190,10,0.925926

In [61]:
maxabs_df = origin.copy()
x = maxabs_df[['CustomerSatisfaction']]

scaler = MaxAbsScaler()
maxabs_df['maxabs'] = scaler.fit_transform(x)
maxabs_df.head()

,MonthlySales,CustomerSatisfaction,ProjectHours,InnovationScore,maxabs
EmployeeID,,,,,
E001,120,75,160,8,0.765306
E002,250,90,180,9,0.918367
E003,80,60,150,6,0.612245
E004,180,82,170,8,0.836735
E005,300,95,190,10,0.969388

In [62]:
nomal_df = origin.copy()
x = nomal_df[['ProjectHours']]
y = nomal_df[['InnovationScore']]

scaler = StandardScaler()
nomal_df['nomal_project'] = scaler.fit_transform(x)
nomal_df['nomal_score'] = scaler.fit_transform(y)

nomal_df.head()

,MonthlySales,CustomerSatisfaction,ProjectHours,InnovationScore,nomal_project,nomal_score
EmployeeID,,,,,,
E001,120,75,160,8,-0.462556,0.066082
E002,250,90,180,9,0.738889,0.726900
E003,80,60,150,6,-1.063279,-1.255555
E004,180,82,170,8,0.138166,0.066082
E005,300,95,190,10,1.339611,1.387719

In [67]:
ìµœì¢… = concat(
    [
        minmax_df[['minmax']],
        maxabs_df[['maxabs']],
        nomal_df[['nomal_project', 'nomal_score']]
    ],
    axis=1
)

ìµœì¢…

              minmax    maxabs  nomal_project  nomal_score
EmployeeID
E001        0.259259  0.765306      -0.462556     0.066082
E002        0.740741  0.918367       0.738889     0.726900
E003        0.111111  0.612245      -1.063279    -1.255555
E004        0.481481  0.836735       0.138166     0.066082
E005        0.925926  0.969388       1.339611     1.387719
E006        0.148148  0.663265      -0.762918    -0.594737
E007        0.555556  0.897959       0.438527     0.726900
E008        0.222222  0.714286      -0.162195    -0.594737
E009        0.629630  0.867347       1.039250     0.726900
E010        0.074074  0.561224      -1.363640    -1.255555
E011        0.296296  0.795918      -0.342412     0.066082
E012        0.851852  0.938776       1.219467     1.387719
E013        0.037037  0.510204      -1.664001    -1.916374
E014        0.518519  0.816327       0.258311     0.066082
E015        0.777778  0.928571       0.919105     0.726900
E016        0.185185  0.693878      -0.582701    -0.594737
E017        0.444444  0.846939       0.018022     0.066082
E018        1.000000  1.000000       1.639972     1.387719
E019        0.000000  0.459184      -1.964363    -1.916374
E020        0.703704  0.908163       0.618744     0.726900

In [81]:
ìµœì¢…['total'] = ìµœì¢….iloc[:, :4].sum(axis=1)
ìµœì¢….sort_values('total',ascending=False).head(1)
ìµœìµœì¢… = ìµœì¢…[['total']]
ìµœìµœì¢….head(1)

               total
EmployeeID
E001        0.628091